<p-tabView [(activeIndex)]="activeIndex" (onChange)="onTabChange($event)">
    <p-tabPanel header="Stock Items Master">
        <app-stock-item-id type="StockItem"></app-stock-item-id>
    </p-tabPanel>
    <p-tabPanel header="Category">
        <app-category-id type="StockItem"></app-category-id>
    </p-tabPanel>
    <p-tabPanel header="Sub Category">
        <app-sub-category-id type="StockItem"></app-sub-category-id>
    </p-tabPanel>

</p-tabView>
<div>
    <p-toast />
    <p-confirmDialog />
  </div>