<p-toolbar styleClass="mb-4">
  <ng-template pTemplate="left">
    <h3>Service Invoice</h3>
  </ng-template>
  <ng-template pTemplate="right">
    <div class="p-toolbar-group-left">
      <span class="block md:mt-0 p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="onGlobalFilter(policyTable, $event)"
          placeholder="Search..."
          style="height: 25px; cursor: pointer"
        />
      </span>
      <span class="p-toolbar-separator" style="margin-right: 10px"></span>
      <button
        pButton
        icon="pi pi-plus-circle"
        class="p-button-success"
        (click)="show()"
      ></button>
    </div>
  </ng-template>
</p-toolbar>

<!-- Table -->
<div class="card p-4">
  <p-table
    #policyTable
    [value]="tableData"
    styleClass="p-datatable-gridlines"
    [rowHover]="true"
    [paginatorDropdownAppendTo]="'body'"
    dataKey="id"
    responsiveLayout="scroll"
    [style]="{ width: '100%', 'overflow-y': 'auto' }"
  >
    <ng-template
      pTemplate="header"
      [globalFilterFields]="['employeeName', 'voucherNumber', 'comments', '']"
    >
      <tr>
        <th style="min-width: 200px" pSortableColumn="voucherNumber">
          VoucherNumber <p-sortIcon field="voucherNumber" />
        </th>
        <th style="min-width: 200px" pSortableColumn="employeeName">
          Name <p-sortIcon field="employeeName" />
        </th>
        <th style="min-width: 200px" pSortableColumn="type">
          Detail <p-sortIcon field="type" />
        </th>
        <th style="min-width: 200px" pSortableColumn="Status">
          Document Status <p-sortIcon field="Status" />
        </th>
        <th style="min-width: 200px" pSortableColumn="Actions">
          Actions <p-sortIcon field="Actions" />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.voucherNumber }}</td>
        <td>{{ item.employeeName }}</td>
        <td>{{ item.comments }}</td>
        <td>
          <span *ngIf="item.status == 'APPROVED'" class="yes-bg">{{
            item.status
          }}</span>
          <span *ngIf="item.status != 'APPROVED'" class="no-bg">{{
            item.status
          }}</span>
        </td>
        <td>
          <span
            *ngIf="item.status == 'APPROVED'"
            style="height: 25px; width: 25px; cursor: pointer"
            pButton
            pRipple
            icon="pi pi-eye"
            class="p-button-rounded p-button-info mr-2"
            (click)="viewOnly(item.id)"
          ></span>
          <span
            *ngIf="item.status !== 'APPROVED'"
            style="height: 25px; width: 25px; cursor: pointer"
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-info mr-2"
            (click)="edit(item.id)"
          ></span>
          <span
            *ngIf="item.status !== 'APPROVED'"
            style="height: 25px; width: 25px; cursor: pointer"
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning mr-2"
            (click)="delete(item.id)"
          ></span>
          <button
            pButton
            pRipple
            *ngIf="item.status === 'PENDING' || item.status == 'UNAPPROVED'"
            style="height: 25px; cursor: pointer"
            label="Approve"
            class="p-button-rounded p-button-warning mr-2"
            (click)="approve(item.id)"
          ></button>
          <span
            pButton
            pRipple
            icon="pi pi-file-pdf"
            class="p-button-rounded p-button-warning mr-2 createBtnStyle"
            (click)="downloadBPReport(item.id)"
          >
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator
    [rows]="5"
    [totalRecords]="this.count"
    (onPageChange)="this.onPageChange($event)"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[this.count, 5, 20, 100]"
  >
  </p-paginator>
</div>

<!-- Modal -->
<p-dialog
  [maximizable]="true"
  [header]="editMode ? 'Edit Service Invoice' : 'Create Service Invoice'"
  [modal]="true"
  (onHide)="this.calendar_disability = true"
  [(visible)]="displayModal"
  [draggable]="false"
>
  <div class="row col-md-12 flex mt-3">
    <div class="border col-md-6">
      <div class="row p-2">
        <div class="row col-md-12">
          <div class="col-md-3 p-field">
            <label for="date">Date</label>
            <p-calendar
              [minDate]="dateValue"
              [disabled]="this.calendar_disability"
              (ngModelChange)="onDateChange($event)"
              [(ngModel)]="serviceInvoice.issueDate"
              inputId="date"
              appendTo="body"
              tabindex="1"
              [showOnFocus]="true"
            ></p-calendar>
          </div>
          <div class="col-md-9 p-field">
            <app-picker
              [showId]="false"
              [title]="'Location'"
              [id]="serviceInvoice.userLocationId"
              [name]="serviceInvoice.userLocationName"
              (valueSelected)="setPickerValue($event, 'Location')"
            ></app-picker>
          </div>
        </div>

        <div class="row col-md-12" style="margin-bottom: 1rem">
          <div id="inputField" class="col-md-6 p-field flex flex-column">
            <label for="name">Voucher Number</label>
            <input
              readonly
              id="name"
              type="text"
              pInputText
              [(ngModel)]="serviceInvoice.voucherNumber"
            />
          </div>
        </div>
        <br />
        <div class="row col-md-12">
          <div class="my-auto">
            <p-button
              (click)="OpenServiceOrder()"
              label="Copy Service Order"
              [text]="true"
              [raised]="true"
              severity="success"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="border col-md-6">
      <div class="row p-2">
        <!-- <div class="row col-md-12" style="margin-bottom: 1rem;">
                    <div class="my-auto">
                        <p-button (click)="OpenServiceOrder()" label="Copy Service Order" [text]="true" [raised]="true"
                            severity="success" />
                    </div>
                </div> -->
        <div class="row col-md-12">
          <div id="inputField" class="col-md-12 p-field flex flex-column">
            <app-picker
              [disable]="editMode"
              [title]="'Supplier'"
              [title2]="'Subledger'"
              [chartOfAccountSubLedgerType]="'15'"
              [id]="serialNumber"
              [name]="serviceInvoice.supplierName"
              (valueSelected)="setPickerValue($event, 'Supplier')"
            ></app-picker>
          </div>
        </div>
        <div class="row col-md-12">
          <div id="inputField" class="col-md-12 p-field flex flex-column">
            <app-picker
              [disable]="editMode"
              [title]="'Employee'"
              [id]="EmpSerialNumber"
              [name]="serviceInvoice.employeeName"
              (valueSelected)="setPickerValue($event, 'Employee')"
            ></app-picker>
          </div>
        </div>
        <div class="row col-md-12">
          <div id="inputField" class="col-md-12 p-field flex flex-column">
            <app-picker
              [disable]="editMode"
              [title]="'Project'"
              [id]="serviceInvoice.projectId"
              [name]="serviceInvoice.projectName"
              (valueSelected)="setPickerValue($event, 'Project')"
            ></app-picker>
          </div>
        </div>
        <div class="row col-md-12">
          <div id="inputField" class="col-md-12 p-field flex flex-column">
            <app-picker
              [disable]="editMode"
              [title]="'CostCenter'"
              [id]="serviceInvoice.costCenterId"
              [name]="serviceInvoice.costCenterName"
              (valueSelected)="setPickerValue($event, 'CostCenter')"
            ></app-picker>
          </div>
        </div>
        <!-- <div class="row col-md-12">
                    <div id="inputField" class="col-md-12 p-field flex flex-column">
                        <app-picker [disable]="editMode" disable="true" [title]="'Region'" [id]="regionId"
                            [name]="regionName" (valueSelected)="setPickerValue($event, 'Region')"></app-picker>
                    </div>
                </div> -->
        <div class="row col-md-12">
          <div id="inputField" class="col-md-4 p-field flex flex-column">
            <label for="grnNo">GRN No.</label>
            <input
              id="grnNo"
              type="text"
              pInputText
              [(ngModel)]="serviceInvoice.grnNumber"
            />
          </div>
          <div id="inputField" class="col-md-4 p-field flex flex-column">
            <label for="invoiceNo">Invoice Number</label>
            <input
              id="invoiceNo"
              type="text"
              min="0"
              pInputText
              [(ngModel)]="serviceInvoice.invoiceNo"
            />
          </div>
          <div id="inputField" class="col-md-4 p-field flex flex-column">
            <label for="invoiceDate">Invoice Date</label>
            <p-calendar
              [(ngModel)]="serviceInvoice.invoiceDate"
              inputId="invoiceDate"
              appendTo="body"
              [showOnFocus]="true"
              max
            ></p-calendar>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />

  <!-- Grid -->

  <div class="my-4">
    <div class="row col-md-12">
      <p-button
        (click)="onRemoveSelected()"
        label="Remove Row"
        size="small"
        severity="danger"
        style="
          padding: 0.25rem 0.5rem;
          font-size: 0.75rem;
          height: auto;
          line-height: 1.25;
        "
      />
      <ag-grid-angular
        style="width: 100%; height: 200px; margin-top: 12px"
        class="ag-theme-balham"
        [rowData]="rowData"
        [columnDefs]="colDefs"
        [animateRows]="true"
        [suppressAutoSize]="true"
        [suppressDragLeaveHidesColumns]="true"
        [rowSelection]="rowSelection"
        [singleClickEdit]="true"
        (gridReady)="onGridReady($event)"
        (cellValueChanged)="OnCellValueChanged($event)"
      >
      </ag-grid-angular>
    </div>
  </div>

  <div class="row col-md-12">
    <div id="inputField" class="col-md-3 p-field flex flex-column">
      <label for="grossAmount">Gross Amount</label>
      <input
        id="grossAmount"
        type="number"
        pInputText
        [(ngModel)]="serviceInvoice.grossAmount"
      />
    </div>
    <div id="inputField" class="col-md-3 p-field flex flex-column">
      <label for="discountBeforePct">Discount Before</label>
      <input
        (ngModelChange)="calculateNetAmount($event)"
        id="discountBeforePct"
        type="number"
        pInputText
        [(ngModel)]="serviceInvoice.discountBeforePct"
        readonly
      />
    </div>
    <div id="inputField" class="col-md-3 p-field flex flex-column">
      <label for="netAmount">Net Amount</label>
      <input
        id="netAmount"
        type="number"
        pInputText
        [(ngModel)]="serviceInvoice.netAmount"
      />
    </div>
    <div id="inputField" class="col-md-1 p-field flex flex-column">
      <label for="serviceTaxPct">S. Tax</label>
      <input
        (ngModelChange)="OnTaxChange($event, true)"
        id="serviceTaxPct"
        type="number"
        pInputText
        [(ngModel)]="serviceInvoice.serviceTaxPct"
      />
    </div>
    <div id="inputField" class="col-md-2 p-field flex flex-column">
      <label for="STaxAmount">Amount</label>
      <input
        id="STaxAmount"
        type="number"
        pInputText
        [(ngModel)]="STaxAmount"
        readonly
      />
    </div>
  </div>

  <div class="row col-md-12">
    <div id="inputField" class="col-md-1 p-field flex flex-column">
      <label for="excisePrc">Excise %</label>
      <input
        (ngModelChange)="OnTaxChange($event, false)"
        id="excisePrc"
        type="number"
        pInputText
        [(ngModel)]="serviceInvoice.excisePrc"
      />
    </div>
    <div id="inputField" class="col-md-2 p-field flex flex-column">
      <label for="ExciseAmount">Amount</label>
      <input
        id="ExciseAmount"
        type="number"
        pInputText
        [(ngModel)]="ExciseAmount"
        readonly
      />
    </div>
    <div id="inputField" class="col-md-3 p-field flex flex-column">
      <label for="totalAmount">Total Amount</label>
      <input
        id="totalAmount"
        type="number"
        pInputText
        [(ngModel)]="serviceInvoice.totalAmount"
      />
    </div>
    <div id="inputField" class="col-md-3 p-field flex flex-column">
      <label for="discountAfterPct">Discount After</label>
      <input
        (ngModelChange)="calculateNetAmount($event)"
        id="discountAfterPct"
        type="number"
        pInputText
        [(ngModel)]="serviceInvoice.discountAfterPct"
      />
    </div>
    <div id="inputField" class="col-md-3 p-field flex flex-column">
      <label for="freightPct">Freight</label>
      <input
        (ngModelChange)="OnFreightChange($event)"
        id="freightPct"
        type="number"
        pInputText
        [(ngModel)]="serviceInvoice.freightPct"
      />
    </div>
  </div>

  <div class="row col-md-12">
    <div id="inputField" class="col-md-3 p-field flex flex-column">
      <label for="netPayable">Net Payable</label>
      <input
        id="netPayable"
        type="number"
        pInputText
        [(ngModel)]="serviceInvoice.netPayable"
      />
    </div>
    <div id="inputField" class="col-md-3 p-field flex flex-column">
      <label for="comments">Naration</label>
      <input
        id="comments"
        type="text"
        pInputText
        [(ngModel)]="serviceInvoice.comments"
      />
    </div>
  </div>

  <div class="flex gap-1 justify-content-end mt-4">
    <p-button
      (onClick)="CloseModel()"
      label="Cancel"
      [outlined]="true"
      severity="warning"
    />
    <p-button
      [loading]="saving"
      *ngIf="!editMode && !view"
      (click)="save()"
      label="Save"
      [outlined]="true"
      severity="contrast"
    />
    <p-button
      [loading]="saving"
      *ngIf="editMode && !view"
      (click)="update()"
      label="Update"
      [outlined]="true"
      severity="contrast"
    />
  </div>
</p-dialog>

<!-- //////////// COPY SERVICE ORDER //////////////////// -->

<p-dialog
  [maximizable]="true"
  header="Copy Service Order"
  [modal]="true"
  [(visible)]="displayOrder"
  [draggable]="false"
>
  <div class="p-4">
    <p-table
      #OrderTable
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 20]"
      [value]="OrderData"
      styleClass="p-datatable-gridlines"
      [rowHover]="true"
      [paginatorDropdownAppendTo]="'body'"
      dataKey="id"
      responsiveLayout="scroll"
      [style]="{ width: '100%', 'overflow-y': 'auto' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width: 200px" pSortableColumn="namvouchere">
            Voucher No <p-sortIcon field="voucher" />
          </th>
          <th style="min-width: 200px" pSortableColumn="Employee">
            Employee Name<p-sortIcon field="Employee" />
          </th>
          <th style="min-width: 200px" pSortableColumn="coastCenterName">
            CostCenter Name<p-sortIcon field="coastCenterName" />
          </th>
          <th style="min-width: 200px" pSortableColumn="projectName">
            Project Name<p-sortIcon field="projectName" />
          </th>
          <th style="min-width: 200px" pSortableColumn="Status">
            Status <p-sortIcon field="Status" />
          </th>
          <th style="min-width: 200px" pSortableColumn="Actions">
            Actions <p-sortIcon field="Actions" />
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{ item.voucherNumber }}</td>
          <td>{{ item.employeeName }}</td>
          <td>{{ item.costCenterName }}</td>
          <td>{{ item.projectName }}</td>

          <td>
            <span *ngIf="item.status == 'APPROVED'" class="yes-bg">{{
              item.status
            }}</span>
            <span *ngIf="item.status != 'APPROVED'" class="no-bg">{{
              item.status
            }}</span>
          </td>
          <td>
            <button
              (click)="SelectServiceOrder(item.id)"
              pButton
              pRipple
              label="Select"
              class="p-button-rounded p-button-info mr-2"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog>

<!-- //////// Toastify /////// -->
<div>
  <p-toast />
  <p-confirmDialog />
</div>
