<p-toolbar styleClass="mb-4">
  <ng-template pTemplate="left">
    <h3>Service Item Category</h3>
  </ng-template>
  <ng-template pTemplate="right">
    <div class="p-toolbar-group-left">
      <span class="block md:mt-0 p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="onGlobalFilter(policyTable, $event)"
          placeholder="Search..."
          style="height: 25px; cursor: pointer"
          (keydown.enter)="onEnter($event)"
        />
      </span>
      <span class="p-toolbar-separator" style="margin-right: 10px"></span>
      <span
        pButton
        icon="pi pi-plus-circle"
        style="height: 25px; width: 25px; cursor: pointer"
        icon="pi pi-plus-circle"
        class="p-button-success"
        (click)="show()"
      ></span>
    </div>
  </ng-template>
</p-toolbar>

<!-- Table -->
<div class="card p-4">
  <p-table
    #policyTable
    [scrollable]="true"
    scrollHeight="58vh"
    [value]="tableData"
    styleClass="p-datatable-gridlines"
    [rowHover]="true"
    [paginatorDropdownAppendTo]="'body'"
    dataKey="id"
    [tableStyle]="{ 'min-width': '50rem' }"
    loadingIcon="pi pi-spin pi-spinner-dotted"
    responsiveLayout="scroll"
    [style]="{ width: '100%', 'overflow-y': 'auto' }"
    [loading]="loading"
    [globalFilterFields]="['name']"
  >
    <ng-template pTemplate="header" [globalFilterFields]="['name', '']">
      <tr>
        <th style="min-width: 100px" pSortableColumn="Actions">
          Actions <p-sortIcon field="Actions" />
        </th>
        <th style="min-width: 200px" pSortableColumn="name">
          Name <p-sortIcon field="name" />
        </th>
        <!-- <th style="min-width: 200px" pSortableColumn="type">
            Type <p-sortIcon field="type" />
          </th> -->
        <th style="min-width: 200px" pSortableColumn="Active">
          Active <p-sortIcon field="Active" />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>
          <span
            style="height: 25px; width: 25px; cursor: pointer"
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-info mr-2"
            (click)="show(item.id)"
          ></span>
          <span
            style="height: 25px; width: 25px; cursor: pointer"
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning mr-2"
            (click)="delete(item.id)"
          ></span>
        </td>
        <td>{{ item.name }}</td>
        <!-- <td>{{ item.type }}</td> -->

        <td>
          <span *ngIf="item.isActive" class="yes-bg">Yes</span>
          <span *ngIf="!item.isActive" class="no-bg">No</span>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator
    [rows]="5"
    [totalRecords]="this.count"
    (onPageChange)="this.onPageChange($event)"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[this.count, 5, 20, 100]"
  >
  </p-paginator>
</div>

<!-- Modal -->
<p-dialog
  [maximizable]="true"
  [header]="
    editMode ? 'Edit Service Item Category' : 'Create Service Item Category'
  "
  [modal]="true"
  [(visible)]="displayModal"
  [draggable]="false"
>
  <div class="row col-md-12">
    <div id="inputField" class="col-md-12 p-field flex flex-column">
      <label for="name">Name</label>
      <input
        id="name"
        type="text"
        pInputText
        [(ngModel)]="serviceItemCategoryDto.name"
      />
    </div>
    <!-- <div id="inputField" class="col-md-6 p-field flex flex-column">
              <label for="name">Type</label>
              <input id="name" type="text" pInputText [(ngModel)]="serviceItemCategoryDto.type" />
          </div> -->
  </div>
  <div class="flex gap-2 align-items-center">
    <p-checkbox
      inputId="isActive"
      [(ngModel)]="serviceItemCategoryDto.isActive"
      [binary]="true"
      inputId="binary"
    />
    <label for="isActive">Active</label>
  </div>

  <div class="flex gap-1 justify-content-end mt-4">
    <p-button
      (onClick)="displayModal = false"
      label="Cancel"
      [outlined]="true"
      severity="warning"
    />
    <p-button
      [loading]="saving"
      *ngIf="!editMode"
      (click)="save()"
      label="Save"
      [outlined]="true"
      severity="contrast"
    />
    <p-button
      [loading]="saving"
      *ngIf="editMode"
      (click)="update()"
      label="Update"
      [outlined]="true"
      severity="contrast"
    />
  </div>
</p-dialog>

<div>
  <p-toast />
  <p-confirmDialog />
</div>
