<p-toolbar styleClass="">
  <ng-template pTemplate="left">
    <h3>Service Order</h3>
  </ng-template>
  <ng-template pTemplate="right">
    <div class="p-toolbar-group-left">
      <span
        pButton
        icon="pi pi-plus-circle"
        class="p-button-success mr-2 createBtnStyle"
        (click)="show()"
      ></span>
    </div>
    <span class="block md:mt-0 p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        pInputText
        type="text"
        (input)="onGlobalFilter(policyTable, $event)"
        placeholder="Search..."
        style="height: 25px; cursor: pointer"
      />
    </span>
  </ng-template>
</p-toolbar>

<!-- Table -->
<div class="card p-4">
  <p-table
    #policyTable
    [globalFilterFields]="[
      'voucherNumber',
      'status',
      'validityDays',
      'documentStatus'
    ]"
    [value]="tableData"
    styleClass="p-datatable-gridlines"
    [rowHover]="true"
    [paginatorDropdownAppendTo]="'body'"
    dataKey="id"
    responsiveLayout="scroll"
    [style]="{ width: '100%', 'overflow-y': 'auto' }"
    (onPageChange)="onPageChange($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="min-width: 200px" pSortableColumn="Actions">
          Actions <p-sortIcon field="Actions" />
        </th>
        <th style="min-width: 200px" pSortableColumn="voucher">
          Voucher No <p-sortIcon field="voucher" />
        </th>
        <th style="min-width: 200px" pSortableColumn="terms">
          terms <p-sortIcon field="terms" />
        </th>
        <th style="min-width: 200px" pSortableColumn="validity">
          Validity Days <p-sortIcon field="validity" />
        </th>
        <th style="min-width: 200px" pSortableColumn="status">
          Status <p-sortIcon field="status" />
        </th>
        <th style="min-width: 200px" pSortableColumn="Status">
          Document Status <p-sortIcon field="Status" />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>
          <span
            *ngIf="item.status == 'APPROVED'"
            style="height: 25px; width: 25px; cursor: pointer"
            pButton
            pRipple
            icon="pi pi-eye"
            class="p-button-rounded p-button-info mr-2"
            (click)="viewOnly(item.id)"
          >
          </span>
          <span
            *ngIf="item.status !== 'APPROVED'"
            style="height: 25px; width: 25px; cursor: pointer"
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-info mr-2"
            (click)="edit(item.id)"
          >
          </span>
          <span
            *ngIf="item.status !== 'APPROVED'"
            style="height: 25px; width: 25px; cursor: pointer"
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning mr-2"
            (click)="delete(item.id)"
          >
          </span>
          <button
            pButton
            pRipple
            *ngIf="item.status === 'PENDING' || item.status == 'UNAPPROVED'"
            style="height: 25px; cursor: pointer"
            label="Approve"
            class="p-button-rounded p-button-warning mr-2"
            (click)="approve(item.id)"
          ></button>
          <span
            pButton
            pRipple
            icon="pi pi-file-pdf"
            class="p-button-rounded p-button-warning mr-2 createBtnStyle"
            (click)="downloadSOReport(item.id)"
          >
          </span>
        </td>
        <td>{{ item.voucherNumber }}</td>
        <td>{{ item.terms }}</td>
        <td>{{ item.validityDays }}</td>
        <td>
          <span
            *ngIf="item.linkedStatus == 'APPROVED'"
            class="yes-bg"
            style="height: 25px; cursor: pointer"
            >{{ item.linkedStatus }}</span
          >
          <span
            *ngIf="item.linkedStatus != 'APPROVED'"
            class="no-bg"
            style="height: 25px; cursor: pointer"
            >{{ item.linkedStatus }}</span
          >
        </td>
        <td>
          <span
            *ngIf="item.status == 'APPROVED'"
            class="yes-bg"
            style="height: 25px; cursor: pointer"
          >
            {{ item.status }}
          </span>
          <span *ngIf="item.status != 'APPROVED'" class="no-bg">
            {{ item.status }}
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator
    [rows]="5"
    [totalRecords]="this.count"
    (onPageChange)="this.onPageChange($event)"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[this.count, 5, 20, 100]"
  >
  </p-paginator>
</div>

<!-- Modal -->

<p-dialog
  [maximizable]="true"
  [header]="editMode ? 'Edit Service Order' : 'Create Service Order'"
  (onHide)="this.calendar_disability = true"
  [modal]="true"
  [(visible)]="displayModal"
  [draggable]="false"
>
  <div class="row col-md-12 flex mt-3">
    <div class="border col-md-6">
      <div class="row p-2">
        <div class="row col-md-12">
          <div class="col-md-3 p-field">
            <label for="date">Date</label>
            <p-calendar
              [minDate]="MinDate"
              [maxDate]="today"
              [disabled]="this.calendar_disability"
              (ngModelChange)="onDateChange($event)"
              [(ngModel)]="serviceOrder.issueDate"
              inputId="date"
              appendTo="body"
              tabindex="1"
              [showOnFocus]="true"
            ></p-calendar>
          </div>
          <div class="col-md-9 p-field">
            <app-picker
              [showId]="false"
              [title]="'Location'"
              [id]="serviceOrder.userLocationId"
              [name]="serviceOrder.userLocationName"
              (valueSelected)="setPickerValue($event, 'Location')"
            ></app-picker>
          </div>
        </div>

        <div class="row col-md-12">
          <div id="inputField" class="col-md-4 p-field flex flex-column">
            <label for="name">Voucher Number</label>
            <input
              readonly
              id="name"
              type="text"
              pInputText
              [(ngModel)]="serviceOrder.voucherNumber"
            />
          </div>
          <div id="inputField" class="col-md-4 p-field flex flex-column">
            <label for="name">Buy Month</label>
            <p-calendar
              [disabled]="true"
              view="month"
              dateFormat="mm/yy"
              [(ngModel)]="serviceOrder.budgetMonth"
              inputId="budgetMonth"
              appendTo="body"
            ></p-calendar>
          </div>
        </div>
      </div>
    </div>
    <div class="border col-md-6">
      <div class="row p-2">
        <div class="row col-md-12" style="margin-bottom: 1rem">
          <div class="my-auto">
            <p-button
              (click)="OpenServiceRequisition()"
              label="Copy Service Requisition"
              [text]="true"
              [raised]="true"
              severity="success"
            />
          </div>
          <div class="">
            <p-button
              (click)="updateRate(rowData)"
              label="Update Rate"
              [text]="true"
              [raised]="true"
              severity="success"
            />
          </div>
        </div>
        <div class="row col-md-12">
          <div id="inputField" class="col-md-12 p-field flex flex-column">
            <app-picker
              [disable]="editMode"
              [title]="'Supplier'"
              [title2]="'Subledger'"
              [chartOfAccountSubLedgerType]="'15'"
              [id]="serialNumber"
              [name]="serviceOrder.supplierName"
              (valueSelected)="setPickerValue($event, 'Supplier')"
            ></app-picker>
          </div>
        </div>
        <div class="row col-md-12">
          <div id="inputField" class="col-md-12 p-field flex flex-column">
            <app-picker
              [disable]="editMode"
              disable="true"
              [title]="'Employee'"
              [id]="displayEmpSerialNumber"
              [name]="serviceOrder.employeeName"
              (valueSelected)="setPickerValue($event, 'Employee')"
            ></app-picker>
          </div>
        </div>
        <div class="row col-md-12">
          <div id="inputField" class="col-md-12 p-field flex flex-column">
            <app-picker
              [disable]="editMode"
              disable="true"
              [title]="'CostCenter'"
              [id]="serviceOrder.costCenterId"
              [name]="serviceOrder.costCenterName"
              (valueSelected)="setPickerValue($event, 'CostCenter')"
            ></app-picker>
          </div>
        </div>
        <div class="row col-md-12">
          <div id="inputField" class="col-md-12 p-field flex flex-column">
            <app-picker
              [disable]="editMode"
              disable="true"
              [title]="'Project'"
              [id]="serviceOrder.projectId"
              [name]="serviceOrder.projectName"
              (valueSelected)="setPickerValue($event, 'Project')"
            ></app-picker>
          </div>
        </div>
        <!-- <div class="row col-md-12">
          <div id="inputField" class="col-md-12 p-field flex flex-column">
            <app-picker [disable]="editMode" disable="true" [title]="'Region'" [id]="regionId" [name]="regionName"
              (valueSelected)="setPickerValue($event, 'Region')"></app-picker>
          </div>
        </div> -->
        <div class="row col-md-12">
          <div id="inputField" class="col-md-12 p-field flex flex-column">
            <app-picker
              [disable]="editMode"
              [showId]="false"
              [title]="'CurrentPaymentMode'"
              [id]="serviceOrder.paymentModeId"
              [name]="serviceOrder.paymentModeName"
              (valueSelected)="setPickerValue($event, 'CurrentPaymentMode')"
            ></app-picker>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />

  <!-- Grid -->
  <div class="my-4">
    <div class="row col-md-12">
      <p-button
        (click)="onRemoveSelected()"
        label="Remove Row"
        size="small"
        severity="danger"
        style="
          padding: 0.25rem 0.5rem;
          font-size: 0.75rem;
          height: auto;
          line-height: 1.25;
        "
      />
      <ag-grid-angular
        style="width: 100%; height: 200px; margin-top: 12px"
        class="ag-theme-balham"
        [rowData]="rowData"
        [columnDefs]="colDefs"
        [animateRows]="true"
        [suppressAutoSize]="true"
        [suppressDragLeaveHidesColumns]="true"
        [rowSelection]="rowSelection"
        [singleClickEdit]="true"
        (gridReady)="onGridReady($event)"
        (cellValueChanged)="OnCellValueChanged($event)"
      >
      </ag-grid-angular>
    </div>
  </div>

  <div class="row col-md-12">
    <div id="inputField" class="col-md-3 p-field flex flex-column">
      <label for="grossAmount">Gross Amount</label>
      <input
        id="grossAmount"
        type="number"
        pInputText
        [(ngModel)]="serviceOrder.grossAmount"
        readonly
      />
    </div>
    <div id="inputField" class="col-md-3 p-field flex flex-column">
      <label for="discount">Discount</label>
      <input
        (ngModelChange)="calculateNetAmount($event)"
        id="discount"
        type="number"
        pInputText
        [(ngModel)]="serviceOrder.discount"
        readonly
      />
    </div>
    <div id="inputField" class="col-md-3 p-field flex flex-column">
      <label for="netAmount">Net Amount</label>
      <input
        id="netAmount"
        type="number"
        pInputText
        [(ngModel)]="serviceOrder.netAmount"
        readonly
      />
    </div>
    <div id="inputField" class="col-md-1 p-field flex flex-column">
      <label for="serviceTaxPct">S. Tax (%)</label>
      <input
        (ngModelChange)="OnTaxChange($event, true)"
        id="serviceTaxPct"
        type="number"
        pInputText
        [(ngModel)]="serviceOrder.serviceTaxPct"
      />
    </div>
    <div id="inputField" class="col-md-2 p-field flex flex-column">
      <label for="STaxAmount">Amount</label>
      <input
        id="STaxAmount"
        type="number"
        pInputText
        [(ngModel)]="STaxAmount"
        readonly
      />
    </div>
  </div>

  <div class="row col-md-12">
    <div id="inputField" class="col-md-1 p-field flex flex-column">
      <label for="excisePct">Excise (%)</label>
      <input
        (ngModelChange)="OnTaxChange($event, false)"
        id="excisePct"
        type="number"
        pInputText
        [(ngModel)]="serviceOrder.excisePct"
      />
    </div>
    <div id="inputField" class="col-md-2 p-field flex flex-column">
      <label for="ExciseAmount">Amount</label>
      <input
        id="ExciseAmount"
        type="number"
        pInputText
        [(ngModel)]="ExciseAmount"
        readonly
      />
    </div>
    <div id="inputField" class="col-md-3 p-field flex flex-column">
      <label for="totalAmount">Total Amount</label>
      <input
        id="totalAmount"
        type="number"
        pInputText
        [(ngModel)]="serviceOrder.totalAmount"
        readonly
      />
    </div>
    <div id="inputField" class="col-md-3 p-field flex flex-column">
      <label for="freight">Freight</label>
      <input
        (ngModelChange)="OnFreightChange($event)"
        id="freight"
        type="number"
        pInputText
        [(ngModel)]="serviceOrder.freight"
      />
    </div>
    <div id="inputField" class="col-md-3 p-field flex flex-column">
      <label for="payable">Payable to Supplier</label>
      <input
        id="payable"
        type="number"
        pInputText
        [(ngModel)]="serviceOrder.payable"
        readonly
      />
    </div>
  </div>
  <div class="row col-md-12">
    <div id="inputField" class="col-md-9 p-field flex flex-column">
      <label for="terms">Terms</label>
      <input
        id="terms"
        type="text"
        pInputText
        [(ngModel)]="serviceOrder.terms"
      />
    </div>
    <div id="inputField" class="col-md-3 p-field flex flex-column">
      <label for="validityDays">Validity Days</label>
      <input
        id="validityDays"
        type="number"
        pInputText
        [(ngModel)]="serviceOrder.validityDays"
      />
    </div>
  </div>

  <div class="flex gap-1 justify-content-end mt-4">
    <p-button
      (onClick)="CloseModel()"
      label="Cancel"
      [outlined]="true"
      severity="warning"
    />
    <p-button
      [loading]="saving"
      *ngIf="!editMode && !view"
      (click)="save()"
      label="Save"
      [outlined]="true"
      severity="contrast"
    />
    <p-button
      [loading]="saving"
      *ngIf="editMode && !view"
      (click)="update()"
      label="Update"
      [outlined]="true"
      severity="contrast"
    />
  </div>
</p-dialog>

<p-dialog
  [maximizable]="true"
  header="Copy Service Requisition"
  [modal]="true"
  [(visible)]="displayRequisition"
  [draggable]="false"
>
  <div class="p-4">
    <p-table
      #requisitionTable
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 20]"
      [value]="requisitionData"
      styleClass="p-datatable-gridlines"
      [rowHover]="true"
      [paginatorDropdownAppendTo]="'body'"
      dataKey="id"
      responsiveLayout="scroll"
      [style]="{ width: '100%', 'overflow-y': 'auto' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width: 200px" pSortableColumn="id">
            ID <p-sortIcon field="id" />
          </th>
          <th style="min-width: 200px" pSortableColumn="namvouchere">
            Voucher No <p-sortIcon field="voucher" />
          </th>
          <th style="min-width: 200px" pSortableColumn="Employee">
            Employee Name<p-sortIcon field="Employee" />
          </th>
          <th style="min-width: 200px" pSortableColumn="Status">
            Status <p-sortIcon field="Status" />
          </th>
          <th style="min-width: 200px" pSortableColumn="Actions">
            Actions <p-sortIcon field="Actions" />
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.voucherNumber }}</td>
          <td>{{ item.employeeName }}</td>
          <td>
            <span *ngIf="item.status == 'APPROVED'" class="yes-bg">{{
              item.status
            }}</span>
            <span *ngIf="item.status != 'APPROVED'" class="no-bg">{{
              item.status
            }}</span>
          </td>
          <td>
            <button
              (click)="SelectRequisition(item.id)"
              pButton
              pRipple
              label="Select"
              class="p-button-rounded p-button-info mr-2"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog>

<div>
  <p-toast />
  <p-confirmDialog />
</div>
