<div class="card px-5 py-5">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <div class="flex items-center">
        <h4 class="m-0">Present Employees</h4>
      </div>
    </ng-template>
    <ng-template pTemplate="right">
      <div class="flex flex-column">
        <label for="startDate">Start Date</label>
        <p-calendar
          [disabled]="isViewMode"
          [(ngModel)]="startDate"
          inputId="startDate"
          appendTo="body"
        ></p-calendar>
      </div>
      <div class="flex flex-column">
        <label for="endDate">End Date</label>
        <p-calendar
          [disabled]="isViewMode"
          [(ngModel)]="endDate"
          inputId="endDate"
          appendTo="body"
        ></p-calendar>
      </div>
      <p-button
        (onClick)="Search()"
        icon="pi pi-search"
        [rounded]="true"
        severity="success"
      />
    </ng-template>
  </p-toolbar>

  <p-table
    #presentEmployeesTable
    scrollHeight="58vh"
    [scrollable]="true"
    [value]="data"
    styleClass="p-datatable-gridlines"
    [tableStyle]="{ 'min-width': '60rem' }"
    [rowHover]="true"
    dataKey="employeeId"
    responsiveLayout="scroll"
    [style]="{ width: '100%', 'overflow-y': 'auto' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="employeeId" style="min-width: 200px">
          Employee ID <p-sortIcon field="employeeId" />
        </th>
        <th pSortableColumn="name" style="min-width: 200px">
          Name <p-sortIcon field="name" />
        </th>
        <th pSortableColumn="checkIn_Time" style="min-width: 200px">
          Check-In Time <p-sortIcon field="checkIn_Time" />
        </th>
        <th pSortableColumn="checkOut_Time" style="min-width: 200px">
          Check-Out Time <p-sortIcon field="checkOut_Time" />
        </th>
        <th pSortableColumn="attendanceDate" style="min-width: 200px">
          Attendance Date <p-sortIcon field="attendanceDate" />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td style="width: 150px">
          {{ item.erpId }}
        </td>
        <td style="width: 150px">
          {{ item.employeeName }}
        </td>

        <td style="width: 150px">
          {{ item.checkIn_Time }}
        </td>
        <td style="width: 150px">
          {{ item.checkOut_Time }}
        </td>
        <td style="width: 150px">
          {{ item.attendanceDate }}
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator
    [rows]="10"
    [totalRecords]="count"
    (onPageChange)="onPageChange($event)"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 50, 100, 500]"
  >
  </p-paginator>
</div>

<div>
  <p-toast />
  <p-confirmDialog />
</div>
