<app-lookup
  action="Department"
  class="department"
  [mainDto]="dto"
  [excludedColumns]="[]"
  [validateFromParent]="validateFromParent"
  (validateFunction)="validateDepartment()"
>
  <ng-template #dialogView>
    <div class="row">
      <div class="col-md-12 flex flex-column">
        <label for="name">Name:</label>
        <input
          type="text"
          pInputText
          [(ngModel)]="dto.name"
          id="name"
          autocomplete="off"
          required
        />
      </div>
      <div class="col-md-6 flex flex-column mt-3">
        <label for="minStrength">Min Strength:</label>
        <input
          type="number"
          pInputText
          [(ngModel)]="dto.minStrength"
          id="minStrength"
          autocomplete="off"
          required
          min="0"
          max="999"
          (change)="OnChangeNumberMin($event)"
        />
      </div>
      <div class="col-md-6 flex flex-column mt-3">
        <label for="maxStrength">Max Strength:</label>
        <input
          type="number"
          pInputText
          [(ngModel)]="dto.maxStrength"
          id="maxStrength"
          autocomplete="off"
          required
          min="0"
          max="999"
          (change)="OnChangeNumberMax($event)"
        />
      </div>
    </div>
    <div class="row gap-1 mt-3">
      <div class="col-12 flex align-items-center gap-2">
        <p-checkbox
          [(ngModel)]="dto.isActive"
          [binary]="true"
          inputId="active"
        />
        <label for="active" class="mb-0">Active</label>
      </div>
      <div class="col-12 flex align-items-center gap-2">
        <p-checkbox
          [(ngModel)]="dto.allowsOverTime"
          [binary]="true"
          inputId="allowsOveTime"
        />
        <label for="allowsOveTime" class="mb-0">Over Time</label>
      </div>
    </div>
    <div class="row"></div>
  </ng-template>
</app-lookup>
