<p-toolbar styleClass="mb-4">
  <ng-template pTemplate="left">
    <h3>Leave Policy</h3>
  </ng-template>
  <ng-template pTemplate="right">
    <div class="p-toolbar-group-left">
      <span class="p-toolbar-separator" style="margin-right: 10px"></span>
      <span
        *ngIf="isGranted(this.permissions.CREATE)"
        pButton
        style="height: 25px; width: 25px; cursor: pointer"
        icon="pi pi-plus-circle"
        class="p-button-success"
        (click)="openModal()"
      ></span>
    </div>
    <span class="block md:mt-0 p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        pInputText
        type="text"
        (input)="onGlobalFilter(leavePolicyTable, $event)"
        placeholder="Search..."
        style="height: 25px; cursor: pointer"
         (keydown.enter)="onEnter($event)"
      />
    </span>
  </ng-template>
</p-toolbar>

<p-table
  #leavePolicyTable
  [value]="data"
  styleClass="p-datatable-gridlines"
  [tableStyle]="{ 'min-width': '60rem' }"
  [rowHover]="true"
  [loading]="loading"
  dataKey="id"
  responsiveLayout="scroll"
  [style]="{ width: '100%', 'max-height': '30rem', 'overflow-y': 'auto' }"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name" style="width: 20%">
        Document Date<p-sortIcon field="name" />
      </th>
      <th pSortableColumn="category" style="width: 20%">
        Voucher Number <p-sortIcon field="category" />
      </th>
      <th pSortableColumn="category" style="width: 20%">
        Title <p-sortIcon field="category" />
      </th>
      <th pSortableColumn="category" style="width: 20%">
        Status <p-sortIcon field="category" />
      </th>
      <th pSortableColumn="category" style="width: 20%">
        Actions <p-sortIcon field="category" />
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{ item.issueDate | date : "yyyy-MM-dd" }}</td>
      <td>{{ item.voucherNumber }}</td>
      <td>{{ item.title }}</td>
      <td>
        <span *ngIf="item.status == 'APPROVED'" class="yes-bg">{{
          item.status
        }}</span>
        <span *ngIf="item.status != 'APPROVED'" class="no-bg">{{
          item.status
        }}</span>
      </td>
      <td>
        <span
          *ngIf="item.status == 'APPROVED'"
          style="height: 25px; width: 25px; cursor: pointer"
          pButton
          pRipple
          icon="pi pi-eye"
          class="p-button-rounded p-button-info mr-2"
          (click)="viewOnly(item.id)"
        ></span>
        <span
          *ngIf="isGranted(this.permissions.EDIT) && item.status !== 'APPROVED'"
          style="height: 25px; width: 25px; cursor: pointer"
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-info mr-2"
          (click)="edit(item.id)"
        ></span>
        <span
          *ngIf="
            isGranted(this.permissions.DELETE) && item.status !== 'APPROVED'
          "
          style="height: 25px; width: 25px; cursor: pointer"
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning mr-2"
          (click)="delete(item.id)"
        ></span>
        <span
          pButton
          pRipple
          *ngIf="item.status === 'PENDING' || item.status == 'UNAPPROVED'"
          icon="pi pi-check"
          style="height: 25px; width: 25px; cursor: pointer"
          class="p-button-rounded p-button-success mr-2"
          (click)="approve(item.id)"
        ></span>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-paginator
  [rows]="10"
  [totalRecords]="this.count"
  (onPageChange)="this.onPageChange($event)"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 20, 30, this.count]"
>
</p-paginator>

<p-dialog
  [closeOnEscape]="false"
  [header]="isViewMode ? 'View Leave Policy' : 'Create Leave Policy'"
  [modal]="true"
  [(visible)]="dialogVisibility"
  [draggable]="false"
  [style]="{ width: '80vw', height: '90vh', z: '800' }"
>
  <div class="row col-md-12 flex">
    <div class="flex flex-column col-md-2 mt-2">
      <label for="documentDate">Document Date</label>
      <p-calendar
        [disabled]="isViewMode"
        (ngModelChange)="onDateChange($event)"
        [(ngModel)]="leavePolicyDto.issueDate"
        tabindex="1"
        inputId="issueDate"
        appendTo="body"
      ></p-calendar>
    </div>
    <div class="col-md-4 mt-2">
      <app-picker
        [title]="'Location'"
        [id]="leavePolicyDto.userLocationId"
        [name]="leavePolicyDto.userLocationName"
        [showId]="false"
        (valueSelected)="setPickerValue($event, 'Location')"
      ></app-picker>
    </div>
    <div id="inputField" class="p-field col-md-2 mt-2 flex flex-column">
      <label for="voucher"> Voucher Number</label>
      <input
        id="voucher"
        type="voucher"
        pInputText
        [(ngModel)]="leavePolicyDto.voucherNumber"
        readonly
      />
    </div>
  </div>

  <div class="row col-md-12 flex">
    <div id="inputField" class="p-field col-md-2 flex flex-column">
      <label for="date"> Will Effect From </label>
      <p-calendar
        [(ngModel)]="leavePolicyDto.willEffectFromDate"
        inputId="date"
        appendTo="body"
        [showOnFocus]="true"
      ></p-calendar>
    </div>

    <div class="col-md-3 flex flex-column mt-2">
      <label for="narration">Narration</label>
      <textarea
        [disabled]="isViewMode"
        [(ngModel)]="leavePolicyDto.title"
        id="narration"
        rows="1"
        cols="30"
        pInputTextarea
      ></textarea>
    </div>
  </div>

  <div class="row col-md-12">
    <!-- <div class="col-md-6">
                <app-picker [disable]="isViewMode" [title]="'LeavePolicyType'" [id]="leavePolicyDto.leavePolicyTypeId"
                    [name]="leavePolicyDto.leavePolicyTypeName"
                    (valueSelected)="handleLeavePolicySelection($event, 'pickerID1', 'pickerName1')">
                </app-picker>
            </div>
            <div *ngIf="leavePolicyDto.leavePolicyTypeName === 'Department'">
                <app-picker [disable]="isViewMode" [title]="'Department'" [id]="leavePolicyDto.departmentId"
                    [name]="leavePolicyDto.departmentName" (valueSelected)="setPickerValue($event,  'Department')">
                </app-picker>
            </div>
            <div *ngIf="leavePolicyDto.leavePolicyTypeName === 'Designation'">
                <app-picker [disable]="isViewMode" [title]="'Designation'" [id]="leavePolicyDto.designationId"
                    [name]="leavePolicyDto.designationName" (valueSelected)="setPickerValue($event, 'Designation')">
                </app-picker>
            </div>
            <div *ngIf="leavePolicyDto.leavePolicyTypeName === 'EmployeeType'">
                <app-picker [disable]="isViewMode" [title]="'EmployeeType'" [id]="leavePolicyDto.empTypeId"
                    [name]="leavePolicyDto.empTypeName" (valueSelected)="setPickerValue($event, 'EmployeeType')">
                </app-picker>
            </div>
            <div *ngIf="leavePolicyDto.leavePolicyTypeName === 'Grade'">
                <app-picker [disable]="isViewMode" [title]="'Grade'" [id]="leavePolicyDto.gradeId"
                    [name]="leavePolicyDto.gradeName" (valueSelected)="setPickerValue($event, 'Grade')">
                </app-picker>
            </div> -->
  </div>

  <div class="row col-md-12 mt-4">
    <p-button
      *ngIf="!isViewMode"
      (click)="onAddRow()"
      label="Add Row"
      icon="pi pi-plus-circle"
      size="small"
    />
    <p-button
      *ngIf="!isViewMode"
      (click)="onRemoveSelected()"
      label="Remove Row"
      icon="pi pi-times"
      size="small"
      severity="danger"
    />
    <ag-grid-angular
      style="width: 200%; height: 200px; margin-top: 12px"
      class="ag-theme-balham"
      [rowData]="rowData"
      [columnDefs]="colDefs"
      [animateRows]="true"
      [suppressAutoSize]="true"
      [suppressDragLeaveHidesColumns]="true"
      [rowSelection]="rowSelection"
      [singleClickEdit]="true"
      (gridReady)="onGridReady($event)"
      (cellClicked)="cellClicked($event)"
    >
    </ag-grid-angular>
  </div>

  <div *ngIf="!isViewMode" class="flex justify-content-end gap-2 mt-4">
    <p-button label="Cancel" severity="secondary" (click)="onDialogClose()" />
    <p-button label="Save" *ngIf="isEditMode && !view" (click)="create()" />
  </div>
</p-dialog>

<div>
  <p-toast />
  <p-confirmDialog />
</div>
