<p-toolbar styleClass="mb-4">
  <ng-template pTemplate="left">
    <h3>Petty Purchase Invoice</h3>
  </ng-template>
  <ng-template pTemplate="right">
    <div class="p-toolbar-group-left">
      <span class="block md:mt-0 p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="onGlobalFilter(policyTable, $event)"
          placeholder="Search..."
          style="height: 25px; cursor: pointer"
        />
      </span>
      <span class="p-toolbar-separator" style="margin-right: 10px"></span>
      <button
        pButton
        icon="pi pi-plus-circle"
        class="p-button-success"
        (click)="show()"
      ></button>
    </div>
  </ng-template>
</p-toolbar>

<div class="card p-4">
  <p-table
    #policyTable
    [loading]="tableLoading"
    [value]="tableData"
    styleClass="p-datatable-gridlines"
    [rowHover]="true"
    [paginatorDropdownAppendTo]="'body'"
    dataKey="id"
    responsiveLayout="scroll"
    [style]="{ width: '100%', 'overflow-y': 'auto' }"
    [globalFilterFields]="[
      'userLocationName',
      'voucherNumber',
      'issueDate',
      ''
    ]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="min-width: 200px" pSortableColumn="voucherNumber">
          Voucher No. <p-sortIcon field="voucherNumber" />
        </th>
        <th style="min-width: 200px" pSortableColumn="userLocationName">
          Location <p-sortIcon field="userLocationName" />
        </th>
        <th style="min-width: 200px" pSortableColumn="issueDate">
          Date <p-sortIcon field="issueDate" />
        </th>
        <th style="min-width: 200px" pSortableColumn="Status">
          Status <p-sortIcon field="Status" />
        </th>
        <th style="min-width: 200px" pSortableColumn="Actions">
          Actions <p-sortIcon field="Actions" />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.voucherNumber }}</td>
        <td>{{ item.userLocationName }}</td>
        <td>{{ item.issueDate | date : "yyyy-MM-dd" }}</td>
        <td>
          <span *ngIf="item.status == 'APPROVED'" class="yes-bg">{{
            item.status
          }}</span>
          <span *ngIf="item.status != 'APPROVED'" class="no-bg">{{
            item.status
          }}</span>
        </td>
        <td>
          <span
            *ngIf="item.status !== 'APPROVED'"
            style="height: 25px; width: 25px; cursor: pointer"
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-info mr-2"
            (click)="show(item.id)"
          ></span>
          <span
            pButton
            pRipple
            icon="pi pi-trash"
            style="height: 25px; width: 25px; cursor: pointer"
            *ngIf="item.status !== 'APPROVED'"
            class="p-button-rounded p-button-warning mr-2"
            (click)="delete(item.id)"
          ></span>
          <span
            pButton
            pRipple
            *ngIf="item.status !== 'APPROVED'"
            style="height: 25px; width: 25px; cursor: pointer"
            icon="pi pi-check"
            class="p-button-rounded p-button-warning mr-2"
            (click)="approve(item.id)"
          ></span>
          <span
            pButton
            pRipple
            *ngIf="item.status === 'APPROVED'"
            style="height: 25px; width: 25px; cursor: pointer"
            icon="pi pi-eye"
            class="p-button-rounded p-button-warning mr-2"
            (click)="show(item.id, true)"
          ></span>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator
    [rows]="5"
    [totalRecords]="this.count"
    (onPageChange)="this.onPageChange($event)"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 20, 100, this.count]"
  >
  </p-paginator>
</div>

<p-dialog
  [maximizable]="true"
  [header]="
    pettyPurchaseForm.value.id > 0
      ? 'Edit Petty Purchase Invoice'
      : 'Create Petty Purchase Invoice'
  "
  [modal]="true"
  [(visible)]="isManageVehicleFRModalVisible"
  [draggable]="false"
  contentStyle="width:1000px"
  style="width: 1000px"
>
  <form [formGroup]="pettyPurchaseForm" (ngSubmit)="save()">
    <div class="col-md-3">
      <label for="isInvoiceMannual">Choose Invoice Type:</label>
      <p-dropdown
        [options]="chooseInvoiceTypeOptions"
        id="isInvoiceMannual"
        placeholder="--Select--"
        formControlName="isInvoiceManual"
        [style]="{ width: '100%', height: '40px' }"
        (onChange)="onChangeInvoiceType()"
        autocomplete="off"
      >
      </p-dropdown>
    </div>
    <div class="row col-md-12">
      <div
        id="inputField"
        class="col-md-4 p-field flex gap-2 align-items-center"
      >
        <label class="m-0" for="name">Date</label>
        <p-calendar
          (ngModelChange)="MakeVoucher($event)"
          formControlName="issueDate"
          inputId="date"
          [minDate]="MinDate"
          [maxDate]="today"
          [style]="{ width: '100%' }"
          appendTo="body"
          tabindex="1"
          [showOnFocus]="true"
        ></p-calendar>
      </div>
      <div id="inputField" class="col-md-4 p-field flex flex-column">
        <app-picker
          [title]="'Location'"
          [title2]="'Location'"
          [id]="pettyPurchaseForm.value.userLocationId"
          [name]="pettyPurchaseForm.value.userLocationName"
          [disable]="pettyPurchaseForm.disabled"
          [showId]="false"
          (valueSelected)="setPickerValue($event, 'Location')"
        ></app-picker>
      </div>
      <div
        id="inputField"
        class="col-md-4 p-field flex gap-2 align-items-center"
      >
        <label class="m-0">Voucher Number</label>
        <input
          type="text"
          readonly
          pInputText
          formControlName="voucherNumber"
        />
      </div>
    </div>

    <div class="row col-md-12">
      <div id="inputField" class="col-12 col-md-6 p-field flex flex-column">
        <app-picker
          [title]="'Subledger'"
          [title2]="'Subledger'"
          [chartOfAccountSubLedgerType]="'6,11,17'"
          [locationId]="pettyPurchaseForm.value.userLocationId"
          [id]="serialNumber"
          [name]="pettyPurchaseForm.value.supplierName"
          [disable]="pettyPurchaseForm.disabled"
          (valueSelected)="setPickerValue($event, 'Subledger')"
        ></app-picker>
      </div>
      <div id="inputField" class="col-12 col-md-6 p-field flex flex-column">
        <app-picker
          [title]="'Employee'"
          [title2]="'Employee'"
          [id]="EmpSerialNumber"
          [name]="pettyPurchaseForm.value.employeeName"
          [disable]="pettyPurchaseForm.disabled"
          (valueSelected)="setPickerValue($event, 'Employee')"
        ></app-picker>
      </div>
    </div>

    <br />

    <p-button (click)="onAddRow()" label="Add Row" size="small" />
    <p-button
      (click)="onRemoveSelected()"
      label="Remove Row"
      size="small"
      severity="danger"
    />
    <div class="mt-4">
      <ag-grid-angular
        class="ag-theme-quartz"
        domLayout="autoHeight"
        [rowData]="rowData"
        rowSelection="multiple"
        [columnDefs]="colDefs"
        (gridReady)="onGridReady($event)"
        (cellClicked)="cellClicked($event)"
        (cellValueChanged)="cellValueChanged($event)"
        [singleClickEdit]="true"
      >
      </ag-grid-angular>
    </div>

    <div class="row col-md-12">
      <div class="p-field flex flex-column col-md-6">
        <label for="narration">Narration</label>
        <textarea
          formControlName="remarks"
          [required]="true"
          class="form-control"
          rows="2"
          id="narration"
        ></textarea>
      </div>
      <div class="p-field flex flex-column col-md-6">
        <label for="narration">Gross Amount</label>
        <input
          formControlName="grossAmount"
          [required]="true"
          class="form-control"
          rows="3"
          id="grossAmount"
        />
      </div>
    </div>
    <div class="flex gap-1 justify-content-end mt-4">
      <p-button
        (onClick)="isManageVehicleFRModalVisible = false"
        label="Cancel"
        [outlined]="true"
        severity="warning"
      />
      <ng-container *ngIf="documentStatus !== 'APPROVED'">
        <p-button
          [loading]="loading"
          *ngIf="pettyPurchaseForm.value.id == 0"
          (click)="save()"
          type="submit"
          label="Save"
          [outlined]="true"
          severity="contrast"
        />
        <p-button
          [loading]="loading"
          *ngIf="pettyPurchaseForm.value.id > 0"
          type="submit"
          (click)="update()"
          label="Update"
          [outlined]="true"
          severity="contrast"
        />
      </ng-container>
    </div>
  </form>
</p-dialog>

<!-- <p-dialog [maximizable]="true" header="Copy Fuel Requisition" [modal]="true" [(visible)]="displayFuelRequisition"
  [draggable]="false">
  <div class="p-4">
    <p-table #requisitionTable [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]"
      [value]="fuelRequisitionData" styleClass="p-datatable-gridlines" [rowHover]="true"
      [paginatorDropdownAppendTo]="'body'" dataKey="id" responsiveLayout="scroll"
      [style]="{ width: '100%', 'overflow-y': 'auto' }">
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width: 200px" pSortableColumn="id">
            ID <p-sortIcon field="id" />
          </th>
          <th style="min-width: 200px" pSortableColumn="namvouchere">
            Voucher No <p-sortIcon field="voucher" />
          </th>
          <th style="min-width: 200px" pSortableColumn="Employee">
            Employee Name<p-sortIcon field="Employee" />
          </th>
          <th style="min-width: 200px" pSortableColumn="Status">
            Status <p-sortIcon field="Status" />
          </th>
          <th style="min-width: 200px" pSortableColumn="Actions">
            Actions <p-sortIcon field="Actions" />
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.voucherNumber }}</td>
          <td>{{ item.employeeName }}</td>
          <td>
            <span *ngIf="item.status == 'APPROVED'" class="yes-bg">{{
              item.status
              }}</span>
            <span *ngIf="item.status != 'APPROVED'" class="no-bg">{{
              item.status
              }}</span>
          </td>
          <td>
            <button (click)="selectFuelRequisition(item.id)" pButton pRipple label="Select"
              class="p-button-rounded p-button-info mr-2"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog> -->

<div>
  <p-toast />
  <p-confirmDialog />
</div>
