<p-toolbar styleClass="mb-4">
  <ng-template pTemplate="left">
    <h3>Bank Receipt Reversal</h3>
  </ng-template>
  <ng-template pTemplate="right">
    <div class="p-toolbar-group-left">
      <span class="block md:mt-0 p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="onGlobalFilter(policyTable, $event)"
          placeholder="Search..."
          style="height: 25px; cursor: pointer"
        />
      </span>
      <span class="p-toolbar-separator" style="margin-right: 10px"></span>
      <span
        pButton
        style="height: 25px; width: 25px; cursor: pointer"
        icon="pi pi-plus-circle"
        class="p-button-success mr-2"
        (click)="show()"
      ></span>
    </div>
  </ng-template>
</p-toolbar>
<!-- //// Table///// -->

<div class="card p-4">
  <p-table
    #policyTable
    [value]="data"
    styleClass="p-datatable-gridlines"
    [rowHover]="true"
    [paginatorDropdownAppendTo]="'body'"
    dataKey="id"
    responsiveLayout="scroll"
    [style]="{ width: '100%', 'overflow-y': 'auto' }"
    [globalFilterFields]="[
      'userLocationName',
      'voucherNumber',
      'issueDate',
      ''
    ]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="min-width: 200px" pSortableColumn="voucher">
          Voucher No. <p-sortIcon field="voucher" />
        </th>
        <th style="min-width: 200px" pSortableColumn="userLocationName">
          Location <p-sortIcon field="userLocationName" />
        </th>
        <th style="min-width: 200px" pSortableColumn="date">
          Date <p-sortIcon field="date" />
        </th>
        <th style="min-width: 200px" pSortableColumn="Status">
          Status <p-sortIcon field="Status" />
        </th>
        <th style="min-width: 200px" pSortableColumn="Actions">
          Actions <p-sortIcon field="Actions" />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.voucherNumber }}</td>
        <td>{{ item.userLocationName }}</td>
        <td>{{ item.issueDate | date : "yyyy-MM-dd" }}</td>
        <td>
          <span *ngIf="item.status == 'APPROVED'" class="yes-bg">{{
            item.status
          }}</span>
          <span *ngIf="item.status != 'APPROVED'" class="no-bg">{{
            item.status
          }}</span>
        </td>
        <td>
          <button
            *ngIf="item.status !== 'APPROVED'"
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-info mr-2"
            (click)="edit(item.id)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            *ngIf="item.status !== 'APPROVED'"
            class="p-button-rounded p-button-warning mr-2"
            (click)="delete(item.id)"
          ></button>
          <button
            pButton
            pRipple
            *ngIf="item.status !== 'APPROVED'"
            icon="pi pi-check"
            class="p-button-rounded p-button-warning mr-2"
            (click)="approve(item.id)"
          ></button>
          <button
            pButton
            pRipple
            *ngIf="item.status === 'APPROVED'"
            icon="pi pi-eye"
            class="p-button-rounded p-button-warning mr-2"
            (click)="viewOnly(item.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator
    [rows]="5"
    [totalRecords]="this.count"
    (onPageChange)="this.onPageChange($event)"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 20, 100, this.count]"
  >
  </p-paginator>
</div>
<!-- //////// Modal /////// -->

<p-dialog
  [maximizable]="true"
  [header]="
    isEditMode ? 'Edit Bank Receipt Reversal' : 'Create Bank Receipt Reversal'
  "
  [modal]="true"
  [(visible)]="displayModal"
  [draggable]="false"
>
  <form [formGroup]="bankpaymentReversibleForm" (ngSubmit)="save()">
    <div class="row col-md-12 align-items-center">
      <div id="inputField" class="col-md-8 mb-0 p-field flex flex-column">
        <app-picker
          [title]="'Location'"
          [title2]="'Location'"
          [id]="bankpaymentReversibleForm.value.userLocationId"
          [name]="bankpaymentReversibleForm.value.userLocationName"
          [disable]="bankpaymentReversibleForm.disabled"
          (valueSelected)="setPickerValue($event, 'Location')"
        ></app-picker>
      </div>
      <div id="inputField" class="col-md-2 p-field flex flex-column">
        <label for="name">Date</label>
        <p-calendar
          (ngModelChange)="onDateChange($event)"
          formControlName="issueDate"
          [minDate]="MinDate"
          [maxDate]="today"
          inputId="date"
          appendTo="body"
          [showOnFocus]="true"
        ></p-calendar>
        <div *ngIf="isFieldInvalid('issueDate')" class="text-danger">
          This field is required
        </div>
      </div>
      <div id="inputField" class="col-md-2 p-field flex flex-column">
        <label for="name">Voucher Number</label>
        <input
          readonly
          id="name"
          type="text"
          pInputText
          formControlName="voucherNumber"
        />
      </div>
    </div>

    <div class="my-auto">
      <p-button
        label="Copy Bank Payment"
        [text]="true"
        [raised]="true"
        (onClick)="OpenBankPayment()"
        severity="primary"
      />
    </div>
    <br />

    <!-- <p-button (click)="onAddRow()" label="Add Row" size="small" />
        <p-button (click)="onRemoveSelected()" label="Remove Row" size="small" severity="danger" /> -->
    <ag-grid-angular
      class="ag-theme-quartz"
      domLayout="autoHeight"
      [rowData]="rowData"
      rowSelection="multiple"
      [columnDefs]="colDefs"
      (gridReady)="onGridReady($event)"
      [singleClickEdit]="true"
    >
    </ag-grid-angular>

    <div class="row col-md-12">
      <div class="p-field flex flex-column col-md-12">
        <label for="narration">Narration</label>
        <textarea
          formControlName="remarks"
          [required]="true"
          pInputText
          rows="3"
          id="narration"
        ></textarea>
      </div>
    </div>
    <div class="row col-md-12">
      <div id="inputField" class="col-md-6 p-field flex flex-column">
        <label for="totalChqAmount">Total Cheque Amount</label>
        <input
          readonly
          id="totalChqAmount"
          type="text"
          pInputText
          formControlName="totalChequeAmount"
        />
      </div>
      <div id="inputField" class="col-md-6 p-field flex flex-column">
        <label for="totalTaxAmount">Total Tax Amount</label>
        <input
          readonly
          id="totalTaxAmount"
          type="text"
          pInputText
          formControlName="totalTaxAmount"
        />
      </div>
    </div>
    <div class="flex gap-1 justify-content-end mt-4">
      <p-button
        (onClick)="displayModal = false"
        label="Cancel"
        [outlined]="true"
        severity="warning"
      />
      <p-button
        [loading]="saving"
        *ngIf="!isEditMode && !isViewMode"
        [disabled]="!bankpaymentReversibleForm.valid"
        (click)="save()"
        label="Save"
        [outlined]="true"
        severity="contrast"
      />
      <p-button
        [loading]="saving"
        *ngIf="isEditMode && !isViewMode"
        (click)="update()"
        label="Update"
        [outlined]="true"
        severity="contrast"
      />
    </div>
  </form>
</p-dialog>
<!-- //////// CopyModel //////// -->

<p-dialog
  [maximizable]="true"
  header="Copy Bank Payment"
  [modal]="true"
  [(visible)]="displaybankPayment"
  [draggable]="false"
>
  <div class="p-3">
    <div
      class="flex row mt-2 col-md-12 align-items-center justify-content-between"
    >
      <div class="row flex col-md-6">
        <div class="col-md-4">
          <div class="p-field" id="inputField">
            <label for="referanceNumber">Referance Number</label>
            <input
              id="referanceNumber"
              type="text"
              pInputText
              class="w-100"
              [(ngModel)]="referanceNumber"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="p-field" id="inputField">
            <label for="voucherNumber">Voucher Number</label>
            <input
              id="voucherNumber"
              type="text"
              pInputText
              class="w-100"
              [(ngModel)]="voucherNumber"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="p-field" id="inputField">
            <label for="date">Date</label>
            <p-calendar
              [(ngModel)]="issueDate"
              [iconDisplay]="'input'"
              inputId="icondisplay"
              [showIcon]="true"
              inputId="date"
              appendTo="body"
              [showOnFocus]="true"
            ></p-calendar>
          </div>
        </div>
      </div>
      <div class="col-md-2 mb-0">
        <div class="p-field mb-0">
          <button
            pButton
            type="button"
            (click)="
              FetchBankPayment(referanceNumber, voucherNumber, issueDate)
            "
            label="Fetch"
            class="p-button-primary w-100 h-50"
          ></button>
        </div>
      </div>
    </div>
    <div class="mt-2">
      <p-table
        #stockTable
        [paginator]="true"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 20]"
        [value]="bankPaymentData"
        styleClass="p-datatable-gridlines"
        [rowHover]="true"
        [paginatorDropdownAppendTo]="'body'"
        dataKey="id"
        responsiveLayout="scroll"
        [style]="{ width: '100%', 'overflow-y': 'auto' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="min-width: 200px" pSortableColumn="referanceNumber">
              ReferanceNumber <p-sortIcon field="referanceNumber" />
            </th>
            <th style="min-width: 200px" pSortableColumn="issueDate">
              IssueDate <p-sortIcon field="issueDate" />
            </th>
            <th style="min-width: 200px" pSortableColumn="namvouchere">
              Voucher No <p-sortIcon field="voucher" />
            </th>
            <th style="min-width: 200px" pSortableColumn="chartofAccountNumber">
              CharOfAccountName <p-sortIcon field="chartofAccountNumber" />
            </th>
            <th style="min-width: 200px" pSortableColumn="Actions">
              Actions <p-sortIcon field="Actions" />
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>{{ item.referenceNumber }}</td>
            <td>{{ item.issueDate | date : "yyyy-MM-dd" }}</td>
            <td>{{ item.voucherNumber }}</td>
            <td>{{ item.chartOfAccountName }}</td>
            <td>
              <button
                (click)="SelectBankPayment(item.id)"
                pButton
                pRipple
                label="Select"
                class="p-button-rounded p-button-info mr-2"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-dialog>

<div>
  <p-toast />
  <p-confirmDialog />
</div>
