<p-toolbar>
  <ng-template pTemplate="left">
    <div class="flex items-center">
      <h4 class="m-0">Cheque Register</h4>
    </div>
  </ng-template>
  <ng-template pTemplate="right">
    <div class="p-toolbar-group-left">
      <span class="block md:mt-0 p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="onGlobalFilter(policyTable, $event)"
          placeholder="Search..."
          style="height: 25px; cursor: pointer"
        />
      </span>
      <span class="p-toolbar-separator" style="margin-right: 10px"></span>
      <span
        pButton
        style="height: 25px; width: 25px; cursor: pointer"
        icon="pi pi-plus-circle"
        class="p-button-success mr-2"
        (click)="openModal()"
      ></span>
    </div>
  </ng-template>
</p-toolbar>

<div class="card p-4">
  <p-table
    #policyTable
    [value]="data"
    styleClass="p-datatable-gridlines"
    [loading]="loading"
    [rowHover]="true"
    [paginatorDropdownAppendTo]="'body'"
    dataKey="id"
    responsiveLayout="scroll"
    [globalFilterFields]="['userLocationName', 'voucherNumber', 'status', '']"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">Location <p-sortIcon field="name" /></th>
        <!-- <th pSortableColumn="religion">ChqNo<p-sortIcon field="religion" /></th> -->
        <th pSortableColumn="voucherNumber">
          Voucher Number <p-sortIcon field="voucherNumber" />
        </th>
        <!-- <th pSortableColumn="voucherNumber">
        Cancelled <p-sortIcon field="voucherNumber" />
      </th> -->
        <th>Status</th>
        <th pSortableColumn="Actions">
          Actions <p-sortIcon field="Actions" />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.userLocationName }}</td>
        <!-- <td>{{ item.chequeNumber }}</td> -->
        <td>{{ item.voucherNumber }}</td>
        <!-- <td>{{ item.isCancelled ? "Yes" : "No" }}</td> -->
        <td>{{ item.status }}</td>
        <td>
          <ng-container *ngIf="item.status !== 'APPROVED'">
            <span
              style="height: 25px; width: 25px; cursor: pointer"
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-info mr-2"
              (click)="handleEditCheque(item.id)"
            >
            </span>
            <span
              style="height: 25px; width: 25px; cursor: pointer"
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-warning mr-2"
              (click)="delete(item.id)"
            >
            </span>
            <span
              style="height: 25px; width: 25px; cursor: pointer"
              pButton
              pRipple
              icon="pi pi-check"
              class="p-button-rounded p-button-warning mr-2"
              (click)="approve(item.id)"
            >
            </span>
          </ng-container>
          <span
            *ngIf="item.status === 'APPROVED'"
            style="height: 25px; width: 25px; cursor: pointer"
            pButton
            pRipple
            icon="pi pi-eye"
            class="p-button-rounded p-button-info mr-2"
            (click)="handleEditCheque(item.id, true)"
          >
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator
    [rows]="5"
    [totalRecords]="this.count"
    (onPageChange)="this.onPageChange($event)"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[this.count, 5, 20, 100]"
  >
  </p-paginator>
</div>

<p-dialog
  [header]="editMode ? 'Update Cheque Register' : 'Create Cheque Register'"
  [modal]="true"
  (visibleChange)="handleVisibleChange($event)"
  [(visible)]="dialogVisibility"
  [draggable]="false"
>
  <form [formGroup]="chequeRegisterFG" (ngSubmit)="handleSaveCheckRegister()">
    <div class="p-2">
      <div class="row col-md-12">
        <div id="inputField" class="col-md-2 p-field d-flex align-items-center">
          <label for="name" class="me-2">Date</label>
          <p-calendar
            (ngModelChange)="onDateChange($event)"
            inputId="date"
            [minDate]="MinDate"
            [maxDate]="today"
            tabindex="1"
            appendTo="body"
            formControlName="issueDate"
            [showOnFocus]="true"
          >
          </p-calendar>
        </div>
        <div id="inputField" class="col-md-5 p-field d-flex align-items-center">
          <app-picker
            id="locationPicker"
            [title]="'Location'"
            title2="Location"
            [disable]="chequeRegisterFG.disabled"
            [id]="chequeRegisterFG.value.userLocationId"
            [name]="chequeRegisterFG.value.userLocationName"
            (valueSelected)="setPickerValue($event, 'Location')"
          >
          </app-picker>
        </div>
        <div id="inputField" class="col-md-4 p-field d-flex align-items-center">
          <label for="voucherNumber" class="me-2">Voucher Number</label>
          <input
            id="voucherNumber"
            type="text"
            pInputText
            readonly
            formControlName="voucherNumber"
          />
        </div>
      </div>
      <div class="row col-md-12">
        <div id="inputField" class="col-md-6 p-field flex flex-column">
          <app-picker
            [title]="'Bank'"
            [id]="chequeRegisterFG.value.chartOfAccountSerialNumber"
            [disable]="chequeRegisterFG.disabled"
            [name]="chequeRegisterFG.value.chartOfAccountName"
            (valueSelected)="setPickerValue($event, 'Bank')"
            [title2]="'Bank'"
            [filterWiseChartOfAccTarget]="'Bank'"
          >
          </app-picker>
        </div>
        <div id="inputField" class="col-md-6 p-field flex flex-column">
          <label for="narration">Narration</label>
          <input
            id="narration"
            formControlName="remarks"
            required
            type="text"
            pInputText
          />
        </div>
      </div>

      <div class="row col-md-12">
        <div id="inputField" class="col-md-3 p-field flex flex-column">
          <label for="totalChecqueAmt">Cheque No. Start</label>
          <p-inputNumber
            useGrouping="false"
            id="totalChecqueAmt"
            type="text"
            [min]="0"
            formControlName="chequeNumberStart"
          />
        </div>
        <div id="inputField" class="col-md-3 p-field flex flex-column">
          <label for="totalTaxAmt">Serial Start</label>
          <p-inputNumber
            useGrouping="false"
            id="totalTaxAmt"
            type="text"
            [min]="0"
            formControlName="serialNumberStart"
          />
        </div>
        <div id="inputField" class="col-md-3 p-field flex flex-column">
          <label for="totalTaxAmt">No. of Cheques</label>
          <p-inputNumber
            useGrouping="false"
            id="totalTaxAmt"
            type="text"
            [min]="1"
            formControlName="numberOfCheques"
          />
        </div>
        <div class="col-md-2 flex align-items-center gap-1">
          <p-button
            label="Generate"
            [text]="true"
            [disabled]="verifyAllChequesUtilized() || chequeRegisterFG.disabled"
            [raised]="true"
            severity="info"
            (onClick)="handleGenerateCheques()"
          >
          </p-button>
        </div>
      </div>
      <br />
      <h6>Cheques</h6>

      <!-- Display generated cheques -->
      <p-table
        [paginator]="true"
        [rows]="5"
        [loading]="loading"
        [totalRecords]="
          chequeRegisterFG.value.chequeBookRegisterDetails?.length
        "
        [rowsPerPageOptions]="[5, 10, 20]"
        [value]="chequeRegisterFG.value.chequeBookRegisterDetails"
        styleClass="p-datatable-gridlines"
        [rowHover]="true"
        [paginatorDropdownAppendTo]="'body'"
        dataKey="id"
        responsiveLayout="scroll"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Sr. No.</th>
            <th pSortableColumn="religion">
              ChqNo<p-sortIcon field="religion" />
            </th>
            <th *ngIf="editMode">Child V.No.</th>
            <th pSortableColumn="isCancelled">
              Cancelled <p-sortIcon field="isCancelled" />
            </th>
            <th>Utilized</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex">
          <tr>
            <td>{{ index + 1 }}</td>
            <td>{{ item.chequeNumber }}</td>
            <td *ngIf="editMode">{{ item.voucherNumber }}</td>
            <td>
              <p-inputSwitch
                (onChange)="handleIsCheckCancelled($event, index, item)"
                [ngModel]="item.isCancelled"
                [disabled]="
                  item.isUtilized ||
                  item.isCancelled ||
                  item.id === 0 ||
                  documentStatus === 'PENDING'
                "
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td>{{ item.isUtilized ? "Yes" : "No" }}</td>
            <td>
              <button
                pButton
                [disabled]="item.isUtilized"
                pRipple
                *ngIf="documentStatus === 'PENDING'"
                icon="pi pi-trash"
                class="p-button-rounded p-button-warning mr-2"
                (click)="deleteGeneratedCheque(index)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <div class="flex justify-content-end gap-2">
        <div class="my-auto">
          <p-button
            (onClick)="dialogVisibility = false"
            label="Cancel"
            [outlined]="true"
            severity="warning"
          />
          <p-button
            [loading]="saving"
            *ngIf="editMode == false"
            type="submit"
            [disabled]="chequeRegisterFG.invalid"
            label="Save"
            [outlined]="true"
            severity="contrast"
          />
          <p-button
            [loading]="saving"
            *ngIf="editMode == true && chequeRegisterFG.enabled"
            (click)="update()"
            label="Update"
            [outlined]="true"
            severity="contrast"
            [disabled]="chequeRegisterFG.invalid"
          />
        </div>
      </div>
    </div>
  </form>
</p-dialog>

<div>
  <p-toast />
  <p-confirmDialog />
</div>
