.scroll-container {
    max-height: 600px; /* Adjust the height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
  }

  .center-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.7); /* Optional: adds a semi-transparent background */
}
