<p-toolbar styleClass="mb-4">
  <ng-template pTemplate="left">
    <h3>Service Item</h3>
  </ng-template>
  <ng-template pTemplate="right">
    <div class="p-toolbar-group-left">
      <span class="block md:mt-0 p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="onGlobalFilter(policyTable, $event)"
          placeholder="Search..."
          style="height: 25px; cursor: pointer"
          (keydown.enter)="onEnter($event)"
        />
      </span>
      <span class="p-toolbar-separator" style="margin-right: 10px"></span>
      <span
        pButton
        icon="pi pi-plus-circle"
        style="height: 25px; width: 25px; cursor: pointer"
        icon="pi pi-plus-circle"
        class="p-button-success"
        (click)="show()"
      ></span>
    </div>
  </ng-template>
</p-toolbar>

<!-- Table -->
<div class="card p-4">
  <p-table
    #policyTable
    [scrollable]="true"
    scrollHeight="58vh"
    [value]="tableData"
    styleClass="p-datatable-gridlines"
    [rowHover]="true"
    [paginatorDropdownAppendTo]="'body'"
    dataKey="id"
    [tableStyle]="{ 'min-width': '50rem' }"
    loadingIcon="pi pi-spin pi-spinner-dotted"
    responsiveLayout="scroll"
    [style]="{ width: '100%', 'overflow-y': 'auto' }"
    [loading]="loading"
    [globalFilterFields]="['name', 'serialNumber']"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="min-width: 200px" pSortableColumn="actions">
          Actions <p-sortIcon field="actions"></p-sortIcon>
        </th>
        <th style="min-width: 200px" pSortableColumn="name">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th style="min-width: 200px" pSortableColumn="serialNumber">
          SerialNumber <p-sortIcon field="serialNumber"></p-sortIcon>
        </th>
        <th style="min-width: 200px" pSortableColumn="active">
          Active <p-sortIcon field="active"></p-sortIcon>
        </th>
        <th style="min-width: 200px" pSortableColumn="active">
          isPettyJob <p-sortIcon field="active"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>
          <span
            style="height: 25px; width: 25px; cursor: pointer"
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
            (click)="show(item.id)"
          ></span>
          <span
            style="height: 25px; width: 25px; cursor: pointer"
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning mr-2"
            (click)="delete(item.id)"
          ></span>
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.serialNumber }}</td>
        <td>
          <span *ngIf="item.isActive" class="yes-bg">Yes</span>
          <span *ngIf="!item.isActive" class="no-bg">No</span>
        </td>
        <td>
          <span *ngIf="item.isPettyJob" class="yes-bg">Yes</span>
          <span *ngIf="!item.isPettyJob" class="no-bg">No</span>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator
    [rows]="5"
    [totalRecords]="this.count"
    (onPageChange)="this.onPageChange($event)"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[this.count, 5, 20, 100]"
  >
  </p-paginator>
</div>

<!-- Modal -->
<p-dialog
  [maximizable]="true"
  [header]="editMode ? 'Edit Service Item' : 'Create Service Item'"
  [modal]="true"
  [(visible)]="displayModal"
  [draggable]="false"
>
  <div class="row col-md-12">
    <div class="col-md-6">
      <app-picker
        [title]="'Category'"
        [title2]="'ServiceItemCategory'"
        [id]="serviceItemDto.serviceItemCategoryId"
        [name]="serviceItemDto.serviceItemCategoryName"
        (valueSelected)="setPickerValue($event, 'ServiceItemCategory')"
      ></app-picker>
    </div>
    <div class="col-md-6">
      <app-picker
        [title]="'Unit'"
        [id]="serviceItemDto.unitId"
        [name]="serviceItemDto.unitName"
        (valueSelected)="setPickerValue($event, 'Unit')"
      ></app-picker>
    </div>
  </div>
  <div class="row col-md-12">
    <div class="col-md-6 p-field flex flex-column">
      <label for="name">Name</label>
      <input
        id="name"
        type="text"
        pInputText
        [(ngModel)]="serviceItemDto.name"
      />
    </div>
    <div class="col-md-6 p-field flex flex-column">
      <label for="serialNumber">Serial Number</label>
      <input
        id="serialNumber"
        type="text"
        pInputText
        [(ngModel)]="serviceItemDto.serialNumber"
      />
    </div>
  </div>
  <div class="d-flex mt-4 gap-6">
    <div class="flex gap-2 align-items-center">
      <p-checkbox
        inputId="isActive"
        [(ngModel)]="serviceItemDto.isActive"
        [binary]="true"
      ></p-checkbox>
      <label for="isActive" class="mb-0">Active</label>
    </div>
    <div class="flex gap-2 align-items-center">
      <p-checkbox
        inputId="isPettyJob"
        [(ngModel)]="serviceItemDto.isPettyJob"
        [binary]="true"
      ></p-checkbox>
      <label for="isPettyJob" class="mb-0">Is Petty Job</label>
    </div>
    <div class="flex gap-2 align-items-center">
      <p-checkbox
        inputId="forSaleOnly"
        [(ngModel)]="serviceItemDto.isForSaleOnly"
        [binary]="true"
      ></p-checkbox>
      <label for="forSaleOnly" class="mb-0">For Sale Only</label>
    </div>
  </div>
  <div class="row col-md-12 mt-4">
    <div class="col-md-8">
      <app-picker
        [title2]="'ChartOfAccount'"
        [title]="'Purchase COA'"
        [id]="serviceItemDto.purchaseChartOfAccountId"
        [name]="serviceItemDto.purchaseChartOfAccountName"
        (valueSelected)="setPickerValue($event, 'ChartOfAccountP')"
      ></app-picker>
    </div>
  </div>
  <div class="col-md-8 font-weight-bold text-center">Or</div>
  <div class="row col-md-12 mt-4">
    <div class="col-md-8">
      <app-picker
        [title2]="'ChartOfAccount'"
        [title]="'Sales COA'"
        [id]="serviceItemDto.salesChartOfAccountId"
        [name]="serviceItemDto.salesChartOfAccountName"
        (valueSelected)="setPickerValue($event, 'ChartOfAccountS')"
      ></app-picker>
    </div>
  </div>

  <div class="flex gap-1 justify-content-end mt-4">
    <p-button
      (click)="displayModal = false"
      label="Cancel"
      [outlined]="true"
      severity="warning"
    ></p-button>
    <p-button
      [loading]="saving"
      *ngIf="!editMode"
      (click)="save()"
      label="Save"
      [outlined]="true"
      severity="contrast"
    ></p-button>
    <p-button
      [loading]="saving"
      *ngIf="editMode"
      (click)="update()"
      label="Update"
      [outlined]="true"
      severity="contrast"
    ></p-button>
  </div>
</p-dialog>

<div>
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>
</div>
