<p-toolbar styleClass="mb-4">
  <ng-template pTemplate="left">
    <h3>Over Time Policy</h3>
  </ng-template>
  <ng-template pTemplate="right">
    <div class="p-toolbar-group-left">
      <span class="p-toolbar-separator" style="margin-right: 10px"></span>
      <span
        *ngIf="isGranted(this.permissions.CREATE)"
        pButton
        style="height: 25px; width: 25px; cursor: pointer"
        icon="pi pi-plus-circle"
        class="p-button-success"
        (click)="openCreateModal()"
      ></span>
    </div>
    <span class="block md:mt-0 p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        pInputText
        type="text"
        (input)="onGlobalFilter(policyTable, $event)"
        placeholder="Search..."
        style="height: 25px; cursor: pointer"
        (keydown.enter)="onEnter($event)"
      />
    </span>
  </ng-template>
</p-toolbar>

<div class="card p-4">
  <p-table
    #policyTable
    [value]="data"
    styleClass="p-datatable-gridlines"
    [loading]="loading"
    [rowHover]="true"
    [paginatorDropdownAppendTo]="'body'"
    dataKey="id"
    responsiveLayout="scroll"
    [globalFilterFields]="[
      'issueDate',
      'voucherNumber',
      'willEffectFromDate',
      'oT_NormalRate',
      'isOTBasedOnGrossPay'
    ]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="documentDate">
          Document Date <p-sortIcon field="documentDate" />
        </th>
        <th pSortableColumn="voucherNumber">
          Voucher Number<p-sortIcon field="voucherNumber" />
        </th>
        <th pSortableColumn="wEfrom">W.E From <p-sortIcon field="wEfrom" /></th>
        <th pSortableColumn="oT_NormalRate">
          OT Normal Rate <p-sortIcon field="oT_NormalRate" />
        </th>
        <th pSortableColumn="isOTBasedOnGrossPay">
          Based On Gross Pay<p-sortIcon field="isOTBasedOnGrossPay" />
        </th>
        <th pSortableColumn="Status">Status <p-sortIcon field="Status" /></th>
        <th pSortableColumn="Actions">
          Actions <p-sortIcon field="Actions" />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.issueDate | date : "yyyy-MM-dd" }}</td>
        <td>{{ item.voucherNumber }}</td>
        <td>{{ item.willEffectFromDate | date : "yyyy-MM-dd" }}</td>
        <td>{{ item.oT_NormalRate }}</td>
        <td>
          <span *ngIf="item.isOTBasedOnGrossPay" class="yes-bg">Yes</span>
          <span *ngIf="!item.isOTBasedOnGrossPay" class="no-bg">No</span>
        </td>
        <td>
          <span *ngIf="item.status == 'APPROVED'" class="yes-bg">{{
            item.status
          }}</span>
          <span *ngIf="item.status != 'APPROVED'" class="no-bg">{{
            item.status
          }}</span>
        </td>
        <td>
          <span
            *ngIf="item.status == 'APPROVED'"
            style="height: 25px; width: 25px; cursor: pointer"
            pButton
            pRipple
            icon="pi pi-eye"
            class="p-button-rounded p-button-info mr-2"
            (click)="viewOnly(item.id)"
          ></span>
          <span
            *ngIf="
              isGranted(this.permissions.EDIT) && item.status !== 'APPROVED'
            "
            style="height: 25px; width: 25px; cursor: pointer"
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-info mr-2"
            (click)="edit(item.id)"
          ></span>
          <span
            *ngIf="
              isGranted(this.permissions.DELETE) && item.status !== 'APPROVED'
            "
            style="height: 25px; width: 25px; cursor: pointer"
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning mr-2"
            (click)="delete(item.id)"
          ></span>
          <span
            pButton
            pRipple
            *ngIf="item.status === 'PENDING' || item.status == 'UNAPPROVED'"
            icon="pi pi-check"
            style="height: 25px; width: 25px; cursor: pointer"
            class="p-button-rounded p-button-success mr-2"
            (click)="approve(item.id)"
          ></span>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator
    [rows]="10"
    [totalRecords]="this.count"
    (onPageChange)="this.onPageChange($event)"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30, this.count]"
  >
  </p-paginator>
</div>

<p-dialog
  [closeOnEscape]="false"
  [maximizable]="true"
  header="Over Time Policy"
  draggable="false"
  [(visible)]="displayModal"
  [modal]="true"
  [responsive]="true"
  [style]="{ width: '70vw' }"
>
  <div class="row col-md-12">
    <div id="inputField" class="p-field col-md-2 flex flex-column">
      <label for="date"> Date </label>
      <p-calendar
        [(ngModel)]="overtimepolicyDto.issueDate"
        (ngModelChange)="onDateChange($event)"
        inputId="date"
        tabindex="1"
        appendTo="body"
        [showOnFocus]="true"
      ></p-calendar>
    </div>
    <div class="col-md-4">
      <app-picker
        [title]="'Location'"
        [id]="overtimepolicyDto.userLocationId"
        [name]="overtimepolicyDto.userLocationName"
        [showId]="false"
        (valueSelected)="setPickerValue($event, 'Location')"
      ></app-picker>
    </div>

    <div id="inputField" class="p-field col-md-3 flex flex-column">
      <label for="voucher"> Voucher Number</label>
      <input
        id="voucher"
        type="voucher"
        pInputText
        readonly
        [(ngModel)]="overtimepolicyDto.voucherNumber"
      />
    </div>

    <div id="inputField" class="p-field col-md-3 flex flex-column">
      <label for="date"> W.E.From</label>
      <p-calendar
        inputId="date"
        appendTo="body"
        [(ngModel)]="overtimepolicyDto.willEffectFromDate"
        [showOnFocus]="true"
      ></p-calendar>
    </div>
  </div>

  <div class="row col-md-12 flex mt-3">
    <div id="inputField" class="p-field col-md-4 flex flex-column">
      <label for="oT_NormalRate">OT Normal Rate</label>
      <input
        id="oT_NormalRate"
        type="oT_NormalRate"
        pInputText
        [(ngModel)]="overtimepolicyDto.oT_NormalRate"
      />
    </div>
    <div id="inputField" class="p-field col-md-4 flex flex-column">
      <label for="maxOTHours_NormalDays">Max OT Normal Days</label>
      <input
        id="maxOTHours_NormalDays"
        type="maxOTHours_NormalDays"
        pInputText
        [(ngModel)]="overtimepolicyDto.maxOTHours_NormalDays"
      />
    </div>
    <div id="inputField" class="p-field col-md-4 flex flex-column">
      <label for="otRateRestDay_CPLGiven">OT Rate RestDay CPL Given</label>
      <input
        id="otRateRestDay_CPLGiven"
        type="otRateRestDay_CPLGiven"
        pInputText
        [(ngModel)]="overtimepolicyDto.otRateRestDay_CPLGiven"
      />
    </div>
    <div id="inputField" class="p-field col-md-4 mt-2 flex flex-column">
      <label for="otRateRestDay_CPLNotGiven"
        >OT Rate RestDay CPL Not Given</label
      >
      <input
        id="otRateRestDay_CPLNotGiven"
        type="otRateRestDay_CPLNotGiven"
        pInputText
        [(ngModel)]="overtimepolicyDto.otRateRestDay_CPLNotGiven"
      />
    </div>
  </div>

  <div class="row col-md-12 flex mt-3">
    <div id="inputField" class="p-field col-md-4 flex flex-column">
      <label for="maxOTHours_RestDays">Max OT Hours RestDay</label>
      <input
        id="maxOTHours_RestDays"
        type="maxOTHours_RestDays"
        pInputText
        [(ngModel)]="overtimepolicyDto.maxOTHours_RestDays"
      />
    </div>
    <div id="inputField" class="p-field col-md-4 flex flex-column">
      <label for="otRateGauztedDay_CPLGiven"
        >OT Rate GauztedDay CPL Given</label
      >
      <input
        id="otRateGauztedDay_CPLGiven"
        type="otRateGauztedDay_CPLGiven"
        pInputText
        [(ngModel)]="overtimepolicyDto.otRateGauztedDay_CPLGiven"
      />
    </div>
    <div id="inputField" class="p-field col-md-4 flex flex-column">
      <label for="otRateGauztedDay_CPLNotGiven"
        >OT Rate GauztedDay CPL Not Given</label
      >
      <input
        id="otRateGauztedDay_CPLNotGiven"
        type="otRateGauztedDay_CPLNotGiven"
        pInputText
        [(ngModel)]="overtimepolicyDto.otRateGauztedDay_CPLNotGiven"
      />
    </div>
    <div id="inputField" class="p-field col-md-4 mt-2 flex flex-column">
      <label for="maxOTHours_GauztedDays">Max OT Hours GauztedDays</label>
      <input
        id="maxOTHours_GauztedDays"
        type="maxOTHours_GauztedDays"
        pInputText
        [(ngModel)]="overtimepolicyDto.maxOTHours_GauztedDays"
      />
    </div>
  </div>

  <div class="row flex gap-5 mt-3">
    <div class="flex gap-2 align-items-center">
      <p-checkbox
        inputId="isOTBasedOnGrossPay"
        [(ngModel)]="overtimepolicyDto.isOTBasedOnGrossPay"
        [binary]="true"
        inputId="binary"
      />
      <label for="isOTBasedOnGrossPay" class="mb-0"
        >Is OT Based On Gross Pay</label
      >
    </div>
    <div class="flex gap-2 align-items-center">
      <p-checkbox
        inputId="isActive"
        [(ngModel)]="overtimepolicyDto.isActive"
        [binary]="true"
        inputId="binary"
      />
      <label for="isActive" class="mb-0">Active</label>
    </div>
  </div>

  <div class="row col-md-12 flex mt-3">
    <div class="p-field flex flex-column col-md-12">
      <label for="narration">Narration</label>
      <textarea
        [(ngModel)]="overtimepolicyDto.remarks"
        pInputText
        rows="2"
        id="narration"
      ></textarea>
    </div>
  </div>

  <div class="flex justify-content-end mt-4">
    <button
      [loading]="saving"
      pButton
      label="Save"
      *ngIf="isEditMode && !view"
      icon="pi pi-check"
      type="submit"
      (click)="create()"
    ></button>
    <button
      pButton
      label="Cancel"
      icon="pi pi-times"
      class="p-button-secondary"
      type="button"
      (click)="onDialogClose()"
    ></button>
  </div>
</p-dialog>

<div>
  <p-toast />
  <p-confirmDialog />
</div>
