<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <div class="flex items-center">
        <h4 class="m-0">Leaves</h4>
      </div>
    </ng-template>
    <ng-template pTemplate="right">
      <div class="flex items-center">
        <div class="mt-0">
          <span
            pButton
            pRipple
            [rounded]="true"
            icon="pi pi-plus-circle"
            class="p-button-success mr-2 createBtnStyle"
            (click)="openModal()"
          ></span>
        </div>
        <span class="block md:mt-0 p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="onGlobalFilter(leavesTable, $event)"
            placeholder="Search..."
            class="w-full sm:w-auto globalSearchStyle"
          />
        </span>
      </div>
    </ng-template>
  </p-toolbar>

  <p-table
    #leavesTable
    [scrollable]="true"
    [value]="data"
    [rowHover]="true"
    dataKey="id"
    responsiveLayout="scroll"
    [style]="{ width: '100%', 'overflow-y': 'auto' }"
    [tableStyle]="{ 'min-width': '50rem' }"
    responsiveLayout="scroll"
    [scrollable]="true"
    scrollHeight="58vh"
    [loading]="loading"
    loadingIcon="pi pi-spin pi-spinner-dotted"
    [globalFilterFields]="[
      'employeeName',
      'leaveStartDate',
      'leaveEndDate',
      'reasonForLeave',
      'isHalfDayLeave',
      'compensatoryLeaveAvailed',
      'status',
      'employeeLeaveTypeName',
      'departmentLeaveTypeName',
      'approvedLeaveTypeName',
      'numberOfDays'
    ]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id" style="min-width: 200px">
          ID <p-sortIcon field="id" />
        </th>
        <th pSortableColumn="name" style="min-width: 200px">
          Name <p-sortIcon field="name" />
        </th>
        <th pSortableColumn="from" style="min-width: 200px">
          From <p-sortIcon field="from" />
        </th>
        <th pSortableColumn="to" style="min-width: 200px">
          To <p-sortIcon field="to" />
        </th>
        <th pSortableColumn="days" style="min-width: 200px">
          Days <p-sortIcon field="days" />
        </th>
        <th pSortableColumn="reason" style="min-width: 200px">
          Reason <p-sortIcon field="reason" />
        </th>
        <th pSortableColumn="halfday" style="min-width: 200px">
          Half Day <p-sortIcon field="halfday" />
        </th>
        <th pSortableColumn="cpl" style="min-width: 200px">
          CPL Availed <p-sortIcon field="cpl" />
        </th>
        <th pSortableColumn="empleavetype" style="min-width: 200px">
          Emp Leave Type <p-sortIcon field="empleavetype" />
        </th>
        <th pSortableColumn="deptleavetype" style="min-width: 200px">
          Dept Leave Type <p-sortIcon field="deptleavetype" />
        </th>
        <th pSortableColumn="appleave" style="min-width: 200px">
          Approved Leave <p-sortIcon field="appleave" />
        </th>
        <th pSortableColumn="status" style="min-width: 200px">
          Status <p-sortIcon field="status" />
        </th>
        <th pSortableColumn="actions" style="min-width: 200px">
          Actions <p-sortIcon field="actions" />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td style="width: 150px">
          {{ item.employeeId }}
        </td>
        <td style="width: 150px">
          {{ item.employeeName }}
        </td>
        <td style="width: 150px">
          {{ item.leaveStartDate | date : "yyyy-MM-dd" }}
        </td>
        <td style="width: 150px">
          {{ item.leaveEndDate | date : "yyyy-MM-dd" }}
        </td>
        <td style="width: 150px">
          {{ item.numberOfDays }}
        </td>
        <td style="width: 150px">
          {{ item.reasonForLeave }}
        </td>
        <td style="width: 150px">
          {{ item.isHalfDayLeave }}
        </td>
        <td style="width: 150px">
          {{ item.compensatoryLeaveAvailed | date : "yyyy-MM-dd" }}
        </td>
        <td style="width: 150px">
          {{ item.employeeLeaveTypeName }}
        </td>
        <td style="width: 150px">
          {{ item.departmentLeaveTypeName }}
        </td>
        <td style="width: 150px">
          {{ item.approvedLeaveTypeName }}
        </td>
        <td>
          <span *ngIf="item.status == 'APPROVED'" class="yes-bg">{{
            item.status
          }}</span>
          <span *ngIf="item.status != 'APPROVED'" class="no-bg">{{
            item.status
          }}</span>
        </td>
        <td>
          <span
            pButton
            pRipple
            icon="pi pi-eye"
            class="p-button-rounded p-button-success mr-2 createBtnStyle"
            (click)="openModal(item.id)"
          ></span>
          <span
            pButton
            pRipple
            icon="pi pi-pencil"
            *ngIf="item.status == 'PENDING'"
            class="p-button-rounded p-button-success mr-2 createBtnStyle"
            (click)="openEditModal(item.id)"
          ></span>
          <span
            pButton
            pRipple
            icon="pi pi-check"
            *ngIf="item.status !== 'APPROVED'"
            class="p-button-rounded p-button-success mr-2 createBtnStyle"
            (click)="Approve(item.id)"
          ></span>
          <span
            pButton
            pRipple
            icon="pi pi-trash"
            *ngIf="item.status !== 'APPROVED'"
            class="p-button-rounded p-button-warning mr-2 createBtnStyle"
            (click)="delete(item.id)"
          ></span>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator
    [rows]="10"
    [totalRecords]="count"
    (onPageChange)="onPageChange($event)"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 50, 100, 500]"
  >
  </p-paginator>
</div>

<p-dialog
  [closeOnEscape]="false"
  [header]="
    isViewMode ? 'View Leave' : editMode ? 'Edit Leave' : 'Create Leave'
  "
  [modal]="true"
  [(visible)]="dialogVisibility"
  [draggable]="false"
  [style]="{ width: '80vw', height: '90vh', z: '800' }"
>
  <div class="row col-md-12">
    <div class="col-md-2 flex flex-column">
      <label for="docdate">Date</label>
      <p-calendar
        (ngModelChange)="onDateChange($event)"
        tabindex=" 1"
        [disabled]="isViewMode"
        [(ngModel)]="leaveDto.documentDate"
        inputId="docdate"
        appendTo="body"
      ></p-calendar>
    </div>
    <div class="col-md-6">
      <app-picker
        [disable]="isViewMode"
        [showId]="false"
        [title]="'Location'"
        [id]="leaveDto.userLocationId"
        [name]="leaveDto.userLocationName"
        (valueSelected)="setPickersValue($event, 'LocationForVN')"
      >
      </app-picker>
    </div>
    <div id="inputField" class="col-md-4 flex flex-column">
      <label for="voucherNumber">Voucher Number</label>
      <input
        [disabled]="isViewMode"
        id="voucherNumber"
        type="text"
        pInputText
        [(ngModel)]="leaveDto.voucherNumber"
        readonly
      />
    </div>
  </div>
  <div class="row col-md-12">
    <div class="col-md-6 mt-4">
      <app-picker
        [disable]="isViewMode"
        [title]="'Employee'"
        [id]="leaveDto.employeeERPId"
        [name]="leaveDto.employeeName"
        (valueSelected)="setPickersValue($event, 'Employee')"
      >
      </app-picker>
    </div>
    <!-- <div class="col-md-6">
      <app-picker [showId]="false" [disable]="isViewMode" [title]="'FinancialYear'"
        (valueSelected)="setPickersValue($event, 'FinancialYear')" [id]="this.financialYearId"
        [name]="this.financialYearName"></app-picker>
    </div> -->
  </div>

  <div class="row col-md-12">
    <div class="col-md-2 flex flex-column">
      <label for="from">Joining date</label>
      <p-calendar
        [disabled]="true"
        [(ngModel)]="this.joiningDate"
        inputId="from"
        appendTo="body"
      ></p-calendar>
    </div>
    <div class="col-md-2 flex flex-column">
      <label for="to">Probation start date</label>
      <p-calendar
        [disabled]="true"
        [(ngModel)]="this.probationStartDate"
        inputId="to"
        appendTo="body"
      ></p-calendar>
    </div>
    <div id="inputField" class="col-md-2 flex flex-column">
      <label for="days">Probation End date</label>
      <p-calendar
        [disabled]="true"
        [(ngModel)]="this.probationEndDate"
        inputId="to"
        appendTo="body"
      ></p-calendar>
    </div>
    <!-- <div id="inputField" class="col-md-2 flex flex-column">
      <label for="cplAvailed">CPL Availed Date</label>
      <p-calendar [disabled]="isViewMode" [(ngModel)]="leaveDto.compensatoryLeaveAvailed" inputId="cplAvailed"
        appendTo="body"></p-calendar>
    </div> -->
  </div>
  <br /><br />
  <div class="row col-md-12">
    <div class="col-md-6">
      <app-picker
        [disable]="true"
        [title]="'Location'"
        [id]="this.locationId"
        [name]="this.locationName"
        (valueSelected)="setPickersValue($event, 'Location')"
      >
      </app-picker>
    </div>
    <div class="col-md-6">
      <app-picker
        [disable]="true"
        [title]="'CostCenter'"
        [id]="this.costCenterId"
        [name]="this.costCenterName"
        (valueSelected)="setPickersValue($event, 'CostCenter')"
      >
      </app-picker>
    </div>
  </div>
  <div class="row col-md-12">
    <div class="col-md-6">
      <app-picker
        [disable]="true"
        [title]="'Project'"
        [id]="this.projectId"
        [name]="this.projectName"
        (valueSelected)="setPickersValue($event, 'Project')"
      >
      </app-picker>
    </div>
    <div class="col-md-6">
      <app-picker
        [disable]="true"
        [title]="'Department'"
        [id]="this.departmentId"
        [name]="this.departmentName"
        (valueSelected)="setPickersValue($event, 'Department')"
      >
      </app-picker>
    </div>
  </div>

  <div class="row col-md-12">
    <div class="col-md-2 flex flex-column">
      <label for="from">From</label>
      <p-calendar
        [disabled]="isViewMode"
        (ngModelChange)="leaveDateChange($event, true)"
        [(ngModel)]="leaveDto.leaveStartDate"
        inputId="from"
        appendTo="body"
      ></p-calendar>
    </div>
    <div class="col-md-2 flex flex-column">
      <label for="to">To</label>
      <p-calendar
        [disabled]="isViewMode"
        (ngModelChange)="leaveDateChange($event, false)"
        [(ngModel)]="leaveDto.leaveEndDate"
        inputId="to"
        appendTo="body"
      ></p-calendar>
    </div>
    <div id="inputField" class="col-md-3 flex flex-column">
      <label for="days">Days</label>
      <input
        disabled=""
        id="days"
        type="number"
        pInputText
        [(ngModel)]="leaveDto.numberOfDays"
      />
    </div>
    <div id="inputField" class="col-md-2 flex flex-column">
      <label for="cplAvailed">CPL Availed Date</label>
      <p-calendar
        [disabled]="isViewMode"
        [(ngModel)]="leaveDto.compensatoryLeaveAvailed"
        inputId="cplAvailed"
        appendTo="body"
      ></p-calendar>
    </div>
  </div>
  <br /><br />

  <div class="row col-md-12">
    <div class="col-md-9">
      <app-picker
        [disable]="isViewMode"
        [title]="'RequestedLeaveType'"
        [title2]="'LeaveType'"
        [id]="leaveDto.employeeLeaveTypeId"
        [name]="leaveDto.employeeLeaveTypeName"
        (valueSelected)="setPickersValue($event, 'EmpLeaveType')"
      >
      </app-picker>
    </div>
    <div id="inputField" class="col-md-3">
      <label for="reason">Reason</label>
      <input
        id="reason"
        type="text"
        pInputText
        [(ngModel)]="leaveDto.reasonForLeave"
      />
    </div>
  </div>
  <div class="row col-md-12">
    <div class="col-md-12">
      <app-picker
        [disable]="isViewMode"
        [title]="'RecommendedLeaveType'"
        [title2]="'LeaveType'"
        [id]="leaveDto.departmentLeaveTypeId"
        [name]="leaveDto.departmentLeaveTypeName"
        (valueSelected)="setPickersValue($event, 'DeptLeaveType')"
      >
      </app-picker>
    </div>
  </div>
  <div class="row col-md-12">
    <div class="col-md-12">
      <app-picker
        [disable]="isViewMode"
        [title]="'ApprovedLeaveType'"
        [title2]="'LeaveType'"
        [id]="leaveDto.approvedLeaveTypeId"
        [name]="leaveDto.approvedTypeName"
        (valueSelected)="setPickersValue($event, 'ApprovedLeaveType')"
      >
      </app-picker>
    </div>
  </div>
  <div class="row px-2 gap-2">
    <p-checkbox
      [disabled]="isViewMode"
      class="mb-0"
      inputId="isHalfDayLeave"
      [(ngModel)]="leaveDto.isHalfDayLeave"
      [binary]="true"
      inputId="binary"
    />
    <label for="isHalfDayLeave" class="mb-0">Half Day</label>
  </div>
  <div class="col-md-12 mt-4">
    <app-picker
      [disable]="isViewMode"
      [title]="'RecommendedEmployee'"
      [title2]="'Employee'"
      [id]="leaveDto.recommendedByERPId"
      [name]="leaveDto.recomendedByName"
      (valueSelected)="setPickersValue($event, 'RecEmployee')"
    >
    </app-picker>
  </div>
  <div class="row col-md-12">
    <div class="col-md-12 flex flex-column">
      <label for="comments">Comments</label>
      <textarea
        [disabled]="isViewMode"
        [(ngModel)]="leaveDto.comments"
        id="comments"
        rows="1"
        cols="30"
        pInputTextarea
      ></textarea>
    </div>
  </div>
  <br />

  <div class="card">
    <div class="row col-md-12">
      <ag-grid-angular
        style="width: 100%; height: 200px; margin-top: 12px"
        class="ag-theme-balham"
        [rowData]="rowData"
        [columnDefs]="colDefs"
        [animateRows]="true"
        [suppressAutoSize]="true"
        [suppressDragLeaveHidesColumns]="true"
        [rowSelection]="rowSelection"
        [singleClickEdit]="true"
      >
      </ag-grid-angular>
    </div>
  </div>

  <div *ngIf="!isViewMode" class="flex justify-content-end gap-2 mt-2">
    <p-button label="Cancel" severity="secondary" (click)="onDialogClose()" />
    <p-button
      [loading]="saving"
      [label]="editMode ? 'Update' : 'Save'"
      (click)="create()"
    />
  </div>
</p-dialog>
