<div class="card col-12">
  <p-toolbar styleClass="my-4">
    <ng-template pTemplate="left">
      <div class="flex items-center">
        <h3 class="tab-name m-0">Monthly Budget</h3>
      </div>
    </ng-template>
    <ng-template pTemplate="right">
      <div class="table-search-container">
        <span class="block md:mt-0 p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" class="globalSearchStyle" (input)="onGlobalFilter(AnnualBudgetTable, $event)"
            placeholder="Search..." />
        </span>
      </div>

    </ng-template>
  </p-toolbar>
  <p-table
    styleClass="p-datatable-gridlines p-datatable-sm"
    [style]="{ width: '100%', 'overflow-y': 'auto' }"
    [tableStyle]="{ 'min-width': '50rem' }"
    class="monthly-budget-table"
    #AnnualBudgetTable
    [value]="tableData"
    [loading]="loading"
    [rowHover]="true"
    [paginatorDropdownAppendTo]="'body'"
    dataKey="id"
    [scrollable]="true"
    scrollHeight="80vh"
    responsiveLayout="scroll"
    [globalFilterFields]="[
      'title',
      'documentNumber',
      'projectName',
      'costCenterName',
      'locationName',
      'status',
      'yearlyDocumentNumber',
      'month'
    ]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="nowrap" title="Financial Year " pSortableColumn="financialYearName">
          <div class="d-flex justify-content-between">
            <span class="th-data">
              Financial Year
            </span> 
            <p-sortIcon field="financialYearName" />
          </div>
        </th>
        <th class="nowrap" title="Document Number " pSortableColumn="documentNumber">
          <div class="d-flex justify-content-between">
            <span class="th-data">
              Document Number 
            </span>
            <p-sortIcon field="documentNumber" />
          </div>
        </th>
        <th class="nowrap" title="yearlyDocumentNumber" pSortableColumn="yearlyDocumentNumber">
          <div class="d-flex justify-content-between">
            <span class="th-data">
              yearlyDocumentNumber 
            </span>
            <p-sortIcon field="yearlyDocumentNumber" />
          </div>
        </th>
        <th class="nowrap" title="Title" pSortableColumn="title">
          <div class="d-flex justify-content-between">
            <span class="th-data">
              Title
            </span> 
            <p-sortIcon field="title" />
          </div>
        </th>
        <th class="nowrap" title="Budget Month" pSortableColumn="months">
          <div class="d-flex justify-content-between">
            <span class="th-data">
              Budget Month 
            </span>
            <p-sortIcon field="months" />
          </div>
        </th>
        <th class="nowrap" title="Project" pSortableColumn="projectName">
          <div class="d-flex justify-content-between">
            <span class="th-data">
              Project 
            </span>
            <p-sortIcon field="projectName" />
          </div>
        </th>
        <th class="nowrap" title="Cost Center" pSortableColumn="costCenterName">
          <div class="d-flex justify-content-between">
            <span class="th-data">
              Cost Center 
            </span>
            <p-sortIcon field="costCenterName" />
          </div>
        </th>
        <th class="nowrap" title="Location" pSortableColumn="locationName">
          <div class="d-flex justify-content-between">
            <span class="th-data">
              Location
            </span> 
            <p-sortIcon field="locationName" />
          </div>
        </th>
        <th class="nowrap" title="Status" pSortableColumn="status">
          <div class="d-flex justify-content-between">
            <span class="th-data">
              Status 
            </span>
            <p-sortIcon field="status" />
          </div>
        </th>
        <th class="nowrap" title="Actions" pSortableColumn="action">
          <div class="d-flex justify-content-between">
            <span class="th-data">
              Actions
            </span> 
            <p-sortIcon field="action" />
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td class="no-wrap-header" title=" {{ item.financialYearName }}">
          {{ item.financialYearName }}
        </td>
        <td class="no-wrap-header" title="{{ item.documentNumber }}">
          {{ item.documentNumber }}
        </td>
        <td class="no-wrap-header" title="{{ item.yearlyDocumentNumber }}">
          {{ item.yearlyDocumentNumber }}
        </td>
        <td class="no-wrap-header" title="{{ item.title }}">{{ item.title }}</td>
        <td class="no-wrap-header" title="{{ getMonthNames([item.month]) }}">
          {{ getMonthNames([item.month]) }}
        </td>
        <td class="no-wrap-header" title="{{ item.projectName }}">{{ item.projectName }}</td>
        <td class="no-wrap-header" title="{{ item.costCenterName }}">
          {{ item.costCenterName }}
        </td>
        <td class="no-wrap-header" title="{{ item.locationName }}">{{ item.locationName }}</td>
        <td class="no-wrap-header" title="{{ item.status }}">{{ item.status }}</td>
        <td class="no-wrap-header" title="">
          <div class="btn-group" dropdown container="body">
            <button id="button-basic" dropdownToggle type="button" class="create-btn text-white p-button-success dropdown-toggle"
              aria-controls="dropdown-basic">
              Action <span class="caret"></span>
            </button>
            <ul 
               class="action-dropdown-menu flex flex-column align-items-center justify-content-start m-0 p-0" 
                id="dropdown-basic" 
                *dropdownMenu
                role="menu"
                 aria-labelledby="button-basic">
              <p class="action-dropdown-item" title=" Edit"  (click)="show(item.id)" *ngIf="item.status == 'PENDING'">
                Edit
              </p>
              <p class="action-dropdown-item" title="Post"  *ngIf="item.status == 'PENDING'"
                (click)="MonthyBudgetPost(item.id)">
                Post
              </p>
              <p class="action-dropdown-item" title="Revise" *ngIf="item.status == 'APPROVED'"
                (click)="ReviseMonthlyBudget(item.id)">
                Revise
              </p>
            </ul>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator class="mt-4" [rows]="10" [totalRecords]="this.tableCount" (onPageChange)="this.onPageChange($event)"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 50, 100, this.tableCount]">
  </p-paginator>

  <p-dialog
    [closeOnEscape]="false"
    maximizable="true"
    [header]="editMode ? 'Edit Monthly Budget' : ''"
    [style]="{ width: '100%', height: '100%', 'overflow-y': 'auto' }"
    [modal]="true"
    [(visible)]="dialogVisibility"
    class="add-or-revise-monthly-budget"
    [draggable]="false"
  >
    <app-add-or-revise-monthly-budget
      #addOrReviseMonthlyBudgetComponent
      (closeDiloge)="closeDiloge($event)"
      [MonthlyBudgetId]="monthlyBudgetId"
      [isRevised]="isRevised"
    ></app-add-or-revise-monthly-budget>
  </p-dialog>
</div>
