<p-toolbar styleClass="mb-4">
  <ng-template pTemplate="left">
    <h3>Tracing Documents</h3>
  </ng-template>
  <ng-template pTemplate="right">
    <button
      pButton
      label="Close"
      (click)="closeModal()"
      class="p-button-danger"
    ></button>
  </ng-template>
</p-toolbar>

<div class="p-mb-3"><strong>Voucher Number: </strong> {{ voucherNumber }}</div>
<div class="p-mb-3"><strong>Target: </strong> {{ target }}</div>
<br />
<ag-grid-angular
  class="ag-theme-quartz"
  style="height: 500px"
  [rowData]="rowData"
  [columnDefs]="colDefs"
  (gridReady)="onGridReady($event)"
></ag-grid-angular>
