<div class="card m-0 overflow-auto hide-scroll" style="height: 84vh ;">
  <p-toolbar styleClass="mb-0 py-4 px-0">
    <ng-template pTemplate="left">
      <div class="flex items-center">
        <h3 class="tab-name m-0">Team Change</h3>
      </div>
    </ng-template>
    <ng-template pTemplate="right">
      <div class="flex items-center">
        <div class="mt-0">
          <button
            pButton
            pRipple
            [rounded]="true"
            class="p-button-success mr-2 rounded"
            (click)="save()"
            label="Save"
          ></button>
        </div>
        <div class="mt-0">
          <button
            pButton
            pRipple
            [rounded]="true"
            class="p-button-success rounded"
            (click)="clear()"
            label="Clear"
          ></button>
        </div>
      </div>
    </ng-template>
  </p-toolbar>
  <div class="row">
    <div class="col-md-6">
      <!-- <app-picker [title]="'Employee'" [id]="transitionInputsDto.erpId" [name]="transitionInputsDto.erpName"
        (valueSelected)="setPickerValue($event, 'Employee')"></app-picker> -->
        <label for="name">Employee:</label>
                        <p-dropdown
                        [options]="employeeDropdown"
                        [(ngModel)]="employeeSelectedItem"
                        [filter]="true"
                        [filterBy]="'id,name'"
                        [showClear]="true"
                        optionLabel="name"
                        (onChange)="onDropdownChange($event, 'Employee')"
                         placeholder="Employee"
                            >
                        <ng-template let-item pTemplate="item">
                        <div class=" nowrap" style="max-width: 426px;" title="{{ item.id }} - {{ item.name }}">{{ item.id }} - {{ item.name }}</div>
                        </ng-template>
                        <ng-template let-item pTemplate="selectedItem">
                            <div *ngIf="item" class=" nowrap" title="{{ item.id }} - {{ item.name }}">{{ item.id }} - {{ item.name }}</div>
                        </ng-template>
                        </p-dropdown>
    </div>
    <!-- <div class="col-md-2 flex flex-column">
      <label for="MasterDesignationId">First Ever Id</label>
      <input type="text" id="MasterDesignationId" [(ngModel)]="transitionInputsDto.masterId" autocomplete="off"
        readonly />
    </div> -->
    <div class="col-md-6 d-flex flex-column">
      <label for="MasterDesignationTitle"
        >First Ever Team</label
      >
      <input
        type="text"
        style="height: 48px; padding-left:12px;"
        id="MasterDesignationTitle"
        autocomplete="off"
        [(ngModel)]="transitionInputsDto.masterName"
        readonly
        name="transitionInputsDto.masterName"
      />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
      <!-- <app-picker [disable]="true" [title2]="'Team'" [title]="'CurrentTeam'" [id]="transitionInputsDto.currentId"
        [name]="transitionInputsDto.currentName" (valueSelected)="setPickerValue($event, 'current')"></app-picker> -->
        <label for="name">CurrentTeam:</label>
                        <p-dropdown
                        [options]="currentTeamDropdown"
                        [(ngModel)]="currentTeamSelectedItem"
                        [filter]="true"
                        [filterBy]="'id,name'"
                        [showClear]="true"
                        optionLabel="name"
                        (onChange)="onDropdownChange($event, 'current')"
                         placeholder="CurrentTeam"
                            >
                        <ng-template let-item pTemplate="item">
                        <div class=" nowrap" style="max-width: 426px;" title="{{ item.id }} - {{ item.name }}">{{ item.id }} - {{ item.name }}</div>
                        </ng-template>
                        <ng-template let-item pTemplate="selectedItem">
                            <div *ngIf="item" class=" nowrap" title="{{ item.id }} - {{ item.name }}">{{ item.id }} - {{ item.name }}</div>
                        </ng-template>
                        </p-dropdown>
    </div>
    <div class="col-md-6">
      <!-- <app-picker [title2]="'Team'" [title]="'NewTeam'" [id]="transitionInputsDto.newId"
        [name]="transitionInputsDto.newName" (valueSelected)="setPickerValue($event, 'new')"></app-picker> -->
        <label for="name">NewTeam:</label>
                        <p-dropdown
                        [options]="newTeamDropdown"
                        [(ngModel)]="newTeamSelectedItem"
                        [filter]="true"
                        [filterBy]="'id,name'"
                        [showClear]="true"
                        optionLabel="name"
                        (onChange)="onDropdownChange($event, 'new')"
                         placeholder="NewTeam"
                            >
                        <ng-template let-item pTemplate="item">
                        <div class=" nowrap" style="max-width: 426px;" title="{{ item.id }} - {{ item.name }}">{{ item.id }} - {{ item.name }}</div>
                        </ng-template>
                        <ng-template let-item pTemplate="selectedItem">
                            <div *ngIf="item" class=" nowrap" title="{{ item.id }} - {{ item.name }}">{{ item.id }} - {{ item.name }}</div>
                        </ng-template>
                        </p-dropdown>
    </div>
  </div>
  <div class="row  mt-3">
    <div class="col-md-6 d-flex flex-column">
      <label for="date">Effect from</label>
      <p-calendar
        inputId="date"
        [(ngModel)]="transitionInputsDto.applicableFrom"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ag-grid-angular
      style="width: 100%; height: 300px; margin-top: 12px"
      class="ag-theme-balham"
      [rowData]="rowData"
      [columnDefs]="colDefs"
      [animateRows]="true"
      [suppressAutoSize]="true"
      (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
    </div>
  </div>
</div>
<div>
  <p-toast />
  <p-confirmDialog class="cancel-modal" />
</div>
