<app-lookup action="Colour" [mainDto]="dto" [excludedColumns]="[]" [validateFromParent]="validateFromParent"
    (validateFunction)="validateLocation()">
    <ng-template #dialogView>
        <div class="row col-md-12">
            <div class="col-md-12 flex flex-column">
                <label for="name">Name:</label>
                <input type="text" pInputText [(ngModel)]="dto.name" id="name" autocomplete="off" />
            </div>            
        </div>
        <div class="row col-md-12 mt-3">
            <div class="flex align-items-center gap-2">
                <p-checkbox [(ngModel)]="dto.isActive" [binary]="true" inputId="active" />
                <label for="active" class="mb-0">Active</label>
            </div>
        </div>
    </ng-template>
</app-lookup>
<div>
    <p-toast />
    <p-confirmDialog />
</div>