<p-tabView>
    <p-tabPanel header="Internal Part Requisition">
        <app-internal-partrequisition></app-internal-partrequisition>
    </p-tabPanel>
    <p-tabPanel header="Store Issuance Note">
        <app-store-issuance-note></app-store-issuance-note>
    </p-tabPanel>
    <p-tabPanel header="Store Return Note">
        <app-store-return-note></app-store-return-note>
    </p-tabPanel>
</p-tabView>

<!-- <mat-tab-group>
    <mat-tab label="Internal Part Requisition"> <app-internal-partrequisition></app-internal-partrequisition> </mat-tab>
    <mat-tab label="Store Issuance Note"> <app-store-issuance-note></app-store-issuance-note> </mat-tab>
    <mat-tab label="Store Return Note"> <app-store-return-note></app-store-return-note> </mat-tab>
</mat-tab-group> -->